[2019-05-08 14:34] igy commented on #204
Hi Mikkelet, thanks for the update - The main difference between v1 and v2 of the library is the parameter order; in v2 the last parameter is the callback function, but in v1 the callback is often the first or second parameter. This shouldn't really affect the setup of the SDK, but maybe your upload calls were passing options in a way which interfered with API key propagating through the SDK to th

[2019-05-08 16:37] Mikkelet commented on #204
Ahh wait acutally, sorry, it's not working. I switched to using upload_unsigned.. which I guess isnt recommended for production. if I use "cloudinary.uploader.upload" I get must_supply_api_key.

I'll submit a ticket.

[2019-05-08 21:17] igy commented on #264
Hi Guiliana,

There isn't currently a way to configure our SDK to use a proxy server for outbound connections. There is a proxy field in the SDK but this is passed through on upload requests for when you're asking us to use a proxy server when fetching from a remote server (i.e this is the 'proxy' parameter on https://cloudinary.com/documentation/image_upload_api_reference )

To proxy the requests

[2019-05-08 23:04] shirlymanor commented on #204
@Mikkelet I've answered in a ticket but wanted to add that upload unsigned with upload preset is secured because you are not exposing the API secret.

[2019-05-10 18:16] giuliana-bezerra commented on #264
This link (https://cloudinary.com/documentation/image_upload_api_reference) will work for me. Thanks!

[2019-05-10 18:16] #264 closed

[2019-05-13 17:48] shirlymanor commented on #225
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-05-13 17:48] #225 closed

[2019-05-13 17:51] shirlymanor commented on #224
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-05-13 17:51] #224 closed

[2019-05-13 18:01] shirlymanor commented on #247
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-05-13 18:01] #247 closed

[2019-05-13 23:55] mcmar commented on #175
@roeeba Given how much money we pay you every month, I don't feel like you should be asking for community support building your product. Cloudinary is not FOSS, just the client is. I'd feel more inclined to donate my time if the Cloudinary backend was FOSS

[2019-05-18 18:30] mikestaub commented on #254
From the support thread:

[code]

[2019-05-18 18:51] bd82 commented on #175
I'ved started playing around with creating TypeScript signatures.
See WIP here: #268

[2019-05-20 08:32] roeeba commented on #175
Hi @mcmar, thanks for the feedback! you're right, Cloudinary is a paid service and is solely responsible for improving its products. That said, we are working on our features according to priorities (which are constantly reevaluated). Some of our users rather not wait for a specific feature and decide to help speed things up by contributing to our library, and we appreciate that.
As for adding Typ

[2019-05-20 16:48] lfernando-silva commented on #254
I'm also getting this error just using the REST API, not the widget. Even signed requests throws this error about unsign ones.

[2019-05-20 20:27] shirlymanor commented on #254
@lfernando-silva As Aditi mentions it is usually when you try and use signed preset instead of unsigned. Can you please open a support ticket here:https://support.cloudinary.com/hc/en-us/requests/new and share your cloud name and upload preset and I will be able to debug this further.

[2019-05-20 21:38] mikestaub commented on #254
@shirlymanor in my case, I was already using a signed preset.

@lfernando-silva The root cause is that not all options are compatible with each other. Try to start very simple and slowly add new options one by one until you hit the error. That is how I was able to triage the issue.

[2019-05-21 16:21] lfernando-silva commented on #254
I just tried with a new unsigned preset, with all default options, now an unsigned upload an it fails with the same error. I didn't change any configuration.

`POST https://api.cloudinary.com/v1_1/MY_CLOUD_NAME/image/upload`

[code]

[2019-05-21 16:34] shirlymanor commented on #254
@lfernando-silva can you please contact us at support@cloudinary.com with your cloud name for further investigation.

[2019-05-21 17:17] lfernando-silva commented on #254
Just contacted the support and they helped me to realize that the request body must to be a form data, not a JSON with multipart/header, to get it working properly. My mistake!

Thanks for the help.

[2019-05-21 19:45] #254 closed

[2019-05-23 09:14] ATakaSKY opened #269 "403 Forbidden"
I am trying to upload an array of images to cloudinary but getting 403. Here is the code that I am using:

[code]

The error that I am getting is below:

[code]

[2019-05-23 11:11] #269 closed

[2019-05-23 12:51] cloudinaraz commented on #269
@ATakaSKY please note that the URLs you are passing to the upload method are from your localhost server.
When uploading an image from a remote URL, our servers are trying to reach the provided URL and retrieve the image from there. This means the URL needs to be resolvable externally, which is of course not possible with localhost.
When running in production, with a publicly accessible domain name

[2019-05-27 08:11] strausr commented on #238
@Clemens-B my apologies for the late response. Thank you for the feedback. We'll discuss this internally and update here if any changes are made.

[2019-05-28 07:13] RizkyArifNur opened #270 "options and callback args is not work correctly"
i've try to set the ```options``` params but it's not work as expected and also the callback it's not invoked , i'am using the lastest version **cloudinary@1.14.0** and here's my code
[code]

anyone can help me??

[2019-05-28 07:40] strausr commented on #270
@RizkyArifNur Can you please try adding the v2 option?

`cloudinary.v2.uploader.upload(..`

[2019-05-28 09:56] RizkyArifNur commented on #270
@strausr
ahhh thank you, it's working correctly

[2019-05-28 09:56] #270 closed

[2019-05-28 19:09] mbrune-sharecare commented on #235
This is still an issue for me and is failing on the usage of the spread operator.

`ERROR in ./node_modules/cloudinary/lib/utils/index.js
Module parse failed: Unexpected token (1000:10)
You may need an appropriate loader to handle this file type.
|
| exports.merge = function merge(hash1, hash2) {
|   return {...hash1, ...hash2};
| };
|
 @ ./node_modules/cloudinary/lib/cloudinary.js 4:16-34
 @ ./no

[2019-05-28 20:07] mbrune-sharecare commented on #235
Quick followup....was able to use this snippet and rework the code I was utilizing.
[code]
Found on: https://cloudinary.com/documentation/react_integration#using_core_cloudinary_javascript_features

[2019-06-03 11:46] kirantripathi commented on #56
how to delete image from cloudinary in react-native

[2019-06-05 08:37] strausr commented on #56
@kirantripathi As mentioned, we don't support React Native or client-side deletions (for security reasons). That being said, we give the option to delete the image on client-side for the newly uploaded image, but the token expires in 10 minutes. For more information: https://support.cloudinary.com/hc/en-us/articles/202521132-How-to-delete-an-image-from-the-client-side-
For example, here is a basic

[2019-06-11 13:47] jawadakram20 opened #271 "Any plans of typescript addition?"

[2019-06-12 07:01] strausr commented on #271
@jawadakram20 Currently it is not in our near term plan. That being said, we'll update here if this changes in the future.

[2019-06-12 13:46] leonvisscher opened #272 "cloudinary.v2.api.resources_by_tag() -- (tags, callback, options) parameter options incorrect"
Documentation suggests you should do:
`cloudinary.v2.api.resources_by_tag(tags, callback, options)`
But this gives an error: `Uncaught Exception:  TypeError: callback is not a function`

When i do:
`cloudinary.v2.api.resources_by_tag(tags, options, callback)`

Everything works fine.

[2019-06-12 14:55] aditimadan-Cloudinary commented on #272
Can you please share the link to the documentation and I will let the doc team know of the update.

[2019-06-16 06:00] yakirp commented on #175
Hi,
Unfortunately, there isn't an ETA regarding JS/Node 2.0 at the moment, we will update here:
https://cloudinary.com/product_updates

Best
Yakir

[2019-06-19 09:47] jbjhjm commented on #272
Experiencing the same issue using v2.uploader.upload_large_stream.
Documentation might still list v1 arguments.

Investigation lead me to the pretty weird "v1_adapters" method called in lib/v2/uploader.
It tries to dynamically generate functions with a standardized argument interface taking the specified number of arguments plus, as last argument, an optional callback.

This concept is applied to

[2019-06-24 19:04] Hellogark opened #276 "Can't get image url after uploading via upload_stream"
I need to get the uploaded image url with cloudinary.uploader.upload_stream,  but after upload if i console.log the response i get undefined. My keys are in an .env file
This is my code
[code]

file.data is a buffer, for example
`<Buffer 89 50 4e 47 0d 0a 1a 0a 00 00 00 0d 49 48 44 52 00 00 00 2a 00 00 00 2a 08 06 00 00 00 c5 c3 c9 5b 00 00 01 fb 49 44 41 54 58 85 ed 99 cd 4e c2 40 14 ... >`
When

[2019-06-26 03:43] Hellogark commented on #29
Well, @taragano  i'm having the same problem, i've tried with cloduinary v.2 as in the documentation but i'm getting this error `Cannot read property 'uploader' of undefined`. i'm setting the public id's as the name of the file on upload, so i'm trying to delete a zip file manually in my node.js app, this is the code i'm using to:
[code]
I'm getting not found as response
`{ result: 'not found' }`

[2019-06-26 14:07] eyalktCloudinary commented on #29
Hi @Hellogark ,
The `public_id` of the asset is formed of the path of the asset within Cloudinary's cloud, together with the asset's name. Meaning that the `public_id` of the file is:
`projects/5cae3cf5b35e4d2dac90fcf6/464ed5c2d1ccbff558f72105768c4079.zip`
Try it out and let me know if that works for you?

[code]
Hope this helps.

[2019-06-26 14:30] Hellogark commented on #29
@eyalktCloudinary  My bad, just updated my comment, i'm not using `cloudinary.v2.uploader.destroy` v2 functions seems not working for me, although i'm requiring like this `var cloudinary = require('cloudinary').v2;`  i've  tried the public_id but still returning not found. If i use `cloudinary.v2.uploader.destroy` i'm getting this error message:
[code]

[2019-06-26 14:58] eyalktCloudinary commented on #29
@Hellogark Note that if you're requiring cloudinary like this
`var cloudinary = require('cloudinary').v2;`,
you do not need to re-specify `v2` when calling the uploader.
Try using `cloudinary.uploader.destroy` ?

[2019-06-26 15:00] Hellogark commented on #29
@eyalktCloudinary yeah, i've tried with `cloudinary.uploader.destroy` but i'm getting not found as response, i've trided with the whole url too, included the version for the public_id but still getting the same response

[2019-06-26 15:08] Hellogark commented on #29
well, this is strange, i got `{result: ok}` i had to made a string with template literals `var public_id = `projects/${idProject}/${body.file.name}`;`
then my code result like this
[code]
but if i set the public_id manually as string it doesn't work

[2019-06-26 15:12] eyalktCloudinary commented on #29
@Hellogark The version is not part of the `public_id`.
I want to make sure we're on the same page, if you run the following, what is the response?

[code]

In addition, can you provide your cloud name? It'll help me further investigate.

[2019-06-26 15:16] Hellogark commented on #29
I made it work as i said in my coment above, thanks for the help, i taught the public_id was the one i set in my upload options that is just set as the file name with the extension. This is the cloud name `dinamycstest`

[2019-06-26 17:02] eyalktCloudinary commented on #29
@Hellogark You're welcome, glad to hear you've worked it out!

[2019-06-30 11:37] cloudinaraz commented on #272
@leonvisscher can you please direct us to where in the documentation you still see the callback being the second argument for the `resources_by_tag()` method or any other method?
We tried looking it up but so far couldn't find any occurrence of what you were referring to.

@jbjhjm thank you for your feedback. The APIs will be refactored in the next major release.

[2019-07-02 09:14] inunotaisho26 commented on #271
@strausr I am going to have stand by @jawadakram20 on this one. Typescript needs to be moved up in cloudinary's list of priorities.

[2019-07-02 09:25] inunotaisho26 opened #283 "Enhancement: Upload multiple images"
There needs to be a more straight forward way of uploading multiple images to cloudinary. I know there are work arounds like using loops and such, but the cloudinary API needs to able o handle this natively.

Reference @KalaiselvanMahendran @slim-hmidi @anaibol @leecrossley

[2019-07-02 09:51] strausr commented on #271
@inunotaisho26 @jawadakram20 Thanks for the feedback. Although there isn't an exact ETA, we're planning on handling this during Q3. We'll update as soon as we have more information

[2019-07-02 18:45] ramiyadash opened #284 "Error: ENOENT: no such file or directory after form submission through Postman"
I tried to submit a form through postman, but i keep getting the no such file error,The pdf is not getting saved to the path mentioned in local pc, even though the file exists. Node keeps throwing the error : [Error: ENOENT: no such file or directory

Error: ENOENT: no such file or directory, open 'D:\lims\Generate_PDF_for_Forms\ViralFlexSeqSubmissionForm_Dash_7-2-2019_13:37:42.pdf'] errno: -4058,

[2019-07-02 20:59] aditimadan-Cloudinary commented on #283
Our upload API currently only supports a single file upload at a time, it does have a high concurrency rate (of about 40-50 concurrent calls) so you can use multi-threads to upload many files at once.
You can also use asynchronous calls, and tell Cloudinary to do the upload in the background by adding the `async` parameter and setting it to `true`.

Another option would be to use our [auto upload]

[2019-07-02 21:16] aditimadan-Cloudinary commented on #284
Form the error it looks like it is not able to locate the file in that path. How are you uploading to Cloudinary? Can you please share the code or a URL where this can be tested. Have you tried uploading another file?

[2019-07-02 23:12] ramiyadash commented on #284
Hi Aditi,

Thank you so much for your reply.
I believe I posted in the wrong group, I was looking up similar errors and
the post on GitHub popped up. I didn't use cloudinary, but error is similar.
I already have the file, and it works in production environment, but in
local it keeps throwing the same error of No such File or Directory.
I understand if you will not be able to help further.

Regards

[2019-07-02 23:28] aditimadan-Cloudinary commented on #284
Hi Ramiya,

Thanks for the clarification. I will close this thread.

Best,
Aditi

[2019-07-02 23:28] #284 closed

[2019-07-03 17:26] inunotaisho26 commented on #283
@aditimadan-Cloudinary I understand what the API supports, but the issue still needs to be dealt with because it's not gonna go away.

[2019-07-04 05:59] aditimadan-Cloudinary commented on #283
I will create a feature request for our product team to consider adding it in the future.

[2019-07-05 13:26] ekediala opened #286 "Cloudinary Node JS SDK integration error"
Trying to integrate Cloudinary Node SDK for uploading images in a Vue app. However, as soon as I  import cloudinary into any component, it (the component) ceases to work and I get this error in dev tools:

`TypeError: Cannot read property 'split' of undefined
    at Object.eval (cloudinary.js?9447:1)
    at eval (cloudinary.js:3)
    at Object../node_modules/cloudinary/cloudinary.js (vendors~admin

[2019-07-05 14:12] ekediala commented on #286
Sorry. Found out it was a problem with Vue.

[2019-07-05 14:12] #286 closed

[2019-07-14 02:19] isaacSolano commented on #172
Im trying the way you said and it is not working, got the same message,  error: [Error: ENOENT: no such file or directory,

code on backend:
const express = require('express'),
    router = express.Router(),
    multerUploads = require('../middleware/multer.config'),
    cloudinary = require('cloudinary').v2,
    cloudinaryconfig = require('../middleware/cloudinary.config'),
    PublicacionModel =

[2019-07-14 02:26] isaacSolano opened #287 "[Error: ENOENT: no such file or directory"
Got the following code, and getting the issue [Error: ENOENT: no such file or directory, on the req.body I have the path of the files, like "image.png", not the full path like "folder/folder/image.png", here's my code

const express = require('express'),
    router = express.Router(),
    multerUploads = require('../middleware/multer.config'),
    cloudinary = require('cloudinary').v2,
    cloudin

[2019-07-14 12:18] michalkcloudinay commented on #287
Hi @isaacSolano ,
In order to upload images via the API in Node.js, you need to specify the full path of the media file to upload.
Looking at your request on [issue 172](https://github.com/cloudinary/cloudinary_npm/issues/172) it seems that you only have the name of the file and not the full path which can indeed be the issue.

We would be happy to assist further if you could share more details ab

[2019-07-14 12:22] michalkcloudinay commented on #172
Hi @isaacSolano ,
I saw you opened the same issue on [request 287](https://github.com/cloudinary/cloudinary_npm/issues/287), you are welcome to look at the answer there.

[2019-07-14 13:33] isaacSolano commented on #172
Thanks for answering, in this case the front end only provides me an object with the path property  for each  file, the req.body looks like this.
req.body {
image1: picture1.png
image2: picture2.png
}

on the front end I'm using dropzone , still it doesnt give me the full path of the file, on the front end I only have "picture.png" for the path property on the file object

[2019-07-14 17:11] alexeychikk opened #288 "private_download_url generates invalid URL: 401 Unknown API key"
Down below you will find a code that I use to store, retrieve and delete photos from cloudinary.
Method `.saveFile()` successfully uploads the photo. Then I try to download it by generating private download url wtih `cloudinary.utils.private_download_url()`. Still no errors. Then I use axios to download freaking photo and I get `Error: Request failed with status code 401`
[code]
`xxxxxxxxxxxxxxx`

[2019-07-15 09:06] alexeychikk commented on #288
It was an issue with my api key. Nevermind.

[2019-07-15 09:06] #288 closed

[2019-07-15 09:50] michalkcloudinay commented on #172
Hi @isaacSolano,

If you want to upload from server side you will have to specify a full path (or any other [data upload options](https://cloudinary.com/documentation/upload_images#data_upload_options)). If dropzone or any other service you are using cant supply this data, I can suggest an alternative, to upload directly from your front-end, by using one of these options:

1. Cloudinary's Upload W

[2019-07-15 11:41] isaacSolano commented on #172
Hi @michalkcloudinay Im using the unsigned upload preset now, i have this issue when using an unsigned upload_preset: error: Upload preset must be whitelisted for unsigned uploads when using unsigned presets, the code
![sc](https://user-images.githubusercontent.com/35480414/61213762-36383e80-a6c3-11e9-920b-7a7b0fe4d788.png)

[2019-07-15 21:32] aditimadan-Cloudinary commented on #172
"Upload preset must be whitelisted for unsigned uploads" is usually when you try and use signed preset instead of unsigned. Can you please open a support ticket here:https://support.cloudinary.com/hc/en-us/requests/new and share your cloud name and upload preset and I will be able to debug this further.

[2019-07-15 23:30] isaacSolano commented on #172
@aditimadan-Cloudinary Ticket submitted, thank you guys for your help and assistance. 👍

[2019-07-16 23:08] aharasta commented on #235
I've run into this same issue which causes build errors:

I tried removing support for NodeJS 8 from "engines" in package.json, but still had error. Experimented with tweaking babel settings (tried various plugins, used "babel6" key, etc.), but no luck there either.  For now I'm using cloudinary@1.11.0 prior to introduction of spread operator, which is working fine.

[2019-07-22 09:51] kerolloz commented on #271
almost everyone is moving to TypeScript, that would be great if you provide types :smile:

[2019-07-22 13:38] idobarnoam commented on #271
@kerolloz thanks.
Its indeed planned but currently no exact ETA.

Once we will have something more concrete we will update the thread.

[2019-07-31 17:52] n19htz commented on #145
So I get payload with signature and timestamp on the nodejs backend, then I send response to the front with that payload. But what should I do with it on frontside? How do I use that payload for uploading an image? Could somebody give me an example?

[2019-07-31 23:18] repentsinner commented on #271
Thanks, could use type definitions here as well!

[2019-08-06 01:51] owenallenaz commented on #215
So we recently came across this error again but in a worse way. If you look at the code in the current package at in the uploader at https://github.com/cloudinary/cloudinary_npm/blob/master/lib/uploader.js#L108 you'll find the following block:

[code]

In that case the result of the call_api is not returned or accessible to the consumer. When I originally raised this issue we were facing it becaus

[2019-08-09 10:40] honeyjills commented on #276
Hi @Hellogark
Did you find any solution for this issue. I am facing the same and having trouble figuring it out.

[2019-08-09 21:05] Hellogark commented on #276
@honeyjills  i searched about getting the url without success, but what i did was build a const with the link in a string literal, like folder one in my code, but with the link of the uploaded file, something like this for raw files
` fileURL: `https://res.cloudinary.com/dinamycstest/raw/upload/fl_attachment/project/${idProject}/${fileName}`` With this url i can download raw files like rar/zip, vi

[2019-08-10 00:01] aditimadan-Cloudinary commented on #276
Here is a sample which will return the public_id and the URL from the upload stream.

[code]

[2019-08-12 05:22] honeyjills commented on #276
@Hellogark Thanks for your reply.
You are talking about downloading the files rght. ?
My question is about the uploading part. How did you upload the files to Cloudinary?

[2019-08-12 05:26] honeyjills commented on #276
@aditimadan-Cloudinary Thank you for your reply.
This was not working for me. The response was undefined as mentioned by @Hellogark .  All i have is the file buffer. I do not have the File path.

Is it possible to upload files to cloudinary using the File Buffer?

[2019-08-12 11:33] michalkcloudinay commented on #276
Hi,
It is possible to upload files using a File Buffer like this:
var file_reader = fs.createReadStream(<buffer>).pipe(upload_stream);
You can read more about it in this documantaion:
https://nodejs.org/api/fs.html#fs_fs_createreadstream_path_options

[2019-08-22 12:51] Vetm opened #291 "root_folders ignores params"
The root_folders endpoint ignores any passed parameter. E.g. limiting the results or paginating.

Example:
`await cloudinary.v2.api.root_folders({'max_results': 1, 'next_cursor': nextCursor});`

This request will still return 2000 results instead of just one.

In our case this causes a huge problem because we have more than 2000 folders and can't iterate through them to get a complete list of our

[2019-08-22 15:51] igy commented on #291
Hi Jonas

As I'm aware the server endpoint doesn't support those parameters which is why the SDK doesn't pass them to the server, and the documentation for the Admin API doesn't mention them - may I please ask is there an example you're working from, or something in one of our other SDKs showing pagination on the folders API?

It may be an oversight in this SDK or the documentation, but at the mom

[2019-08-23 21:35] GaddMaster commented on #145
Does anyone know how to generate a signature for the client widget? Struggling for any help anywhere what so ever. ?

Thanks

[2019-08-23 22:25] shirlymanor commented on #145
@GaddMaster You can follow the instructions here: https://cloudinary.com/documentation/upload_widget#signed_uploads

[2019-08-23 23:02] GaddMaster commented on #145
@shirlymanor I have read this link 10 times and all the rest, they don't help me. they don't explain fully... There are no examples...

[2019-08-24 12:23] aleksandar-cloudinary commented on #145
Hi @GaddMaster . I've provided a more detailed reply on the Support Forum where you had submitted a post, but let us know which specific step of the setup process is not working for you and you'd like an example for as well as your existing code. There's an example of the server-side code in NodeJS which receives the parameters and sings them if this is the part you're looking for.

[2019-08-24 18:12] GaddMaster commented on #145
OK Great. That would be useful. I'll go check that out and once I get help figure this out. I'll share my code somewhere useful for others. I'll be back Mr Thread

[2019-08-27 11:05] Moshmel opened #292 "question : Could not find a declaration file for module 'cloudinary'"
hello i am running nodejs express server,
i have installed cloudinary via npm.
i followed your docs
and  on the declaration  of cloudinary it gives me this  error

Could not find a declaration file for module 'cloudinary'. 'c:/../node_modules/cloudinary/cloudinary.js'
implicitly has an 'any' type.
  Try `npm install @types/cloudinary` if it exists or add a new declaration (.d.ts) file containing `

[2019-08-27 14:13] eyalktCloudinary commented on #292
Hi @Moshmel. It looks like you're developing in TypeScript, which we currently do not support. Support for TS is currently on the works, and we'll let you know as soon as we have an ETA.

[2019-08-27 20:08] Synaccord opened #293 "upload_stream gets error 499 - can I change timeout setting"
Occasionaly, when I am uploading videos (~20MB) I get an upload error 499 which seems to be a time out.  I want to increase the timeout to see if that solves the problem, but I am using upload_stream and don't seem to have a way to pass options to it.

Is there a way to change the timeout?
Is there a way to force a retry when I catch this error? I can't easily restart the upload because the node s

[2019-08-29 10:14] antoinegrelard opened #294 "text upload doesn't upload with options"
Hi!

I had an issue while trying to upload custom text styles through the nodejs API (https://cloudinary.com/documentation/upload_images#creating_images_from_text).

I found out what the issue was but still have a question about the behaviour.

So the issue is that, the text function in uploader.js filters the user's options with the utils.only function, but the second argument is not spreaded (sh

[2019-08-29 15:22] Moshmel commented on #292
i have followed tutorials about it and i did everything the same but still i get this error
on cloudinary:

Could not find a declaration file for module 'cloudinary'. 'c:/Users/melam/Desktop/work/instagram-clone/backend/node_modules/cloudinary/cloudinary.js' implicitly has an 'any' type.
  Try `npm install @types/cloudinary` if it exists or add a new declaration (.d.ts) file containing `declare mo

[2019-08-29 16:19] shirlymanor commented on #292
@Moshmel As Eyal said we currently, don't support TS (it's on our road-map).
If you want to use nodeJS you might want to try `npm install cloudinary`.

[2019-08-30 00:55] leptians commented on #294
Hi Antoine,

I would like to understand more of the use-case and issue that you had.
Can you share a sample code that caused an issue and how did you fix it on your end?

Regards,
Erwin Lukas

[2019-09-01 20:47] GaddMaster commented on #145
OK. So I am back after receiving help from the staff. I wanted to share my mistake with everyone in case anyone ever makes the same one as me. Which is silly I do accept.

The upload signature (uploadSignature, upload_signature) has to be the actual function itself and not the results from you calling the function prior and getting the signature. I was retrieving the signature from my server and i

[2019-09-02 07:49] antoinegrelard commented on #294
Sure.

I was trying to upload a text style like so :

[code]

The text was uploaded but not with the styling options I passed it.

Checking the function in uploader.js (line 197), this is what I saw :

[code]

Digging deeper, I checked the utils.only function in the index.js file of the utils folder (line 1349) :

[code]

We can see that this function expect a bunch of keys as the parameters of th

[2019-09-03 05:13] Moshmel commented on #292
I am pretty new to nodejs
and as far as i know i didn't use typescript in my server,
i have already  did npm install cloudinary.
but still in the vs code it shows me this error.

and you support nodejs, i have read cloudinary docs, and still   i see the error that he cant find module.

thank you

[2019-09-04 12:59] michalkcloudinay commented on #292
@Moshmel The error you are getting indicates that you have a TypeScript code in your server.
You can share your 'package.json' so we can help you find it.  If privacy is an issue please feel free to open a support ticket at support@cloudinary.com.

[2019-09-05 16:23] igy commented on #294
Hi Antoine,

Thanks for the detailed response. The 'text' method is a feature that's used relatively infrequently, so it's quite possible this is an oversight in the SDK which has not been noticed before.

I've had a look and so far I think that what you've said about the problem is accurate and your proposed solution is the correct fix, so thank you for bringing this to our attention and apologie

[2019-09-08 03:18] yongyi520 opened #296 "incoming transformation before upload image (flags: "force_strip") not working"
`file.path = /var/folders/mc/f0gh5vsd27d_f_s0ncjdg_h80000gn/T/upload_16e9d84f6bbbba08970ff5eb06a81ee5`

`const response = await cloudinary.uploader.upload(file.path, {
          public_id,
          image_metadata: true,
          flags: "force_strip"
        });`

Problem:
The image uploads from iPhone selfies were incorrectly rotated when uploading the image to cloudinary.

I tried to apply flag

[2019-09-08 14:04] cloudinaraz commented on #296
Hi @yongyi520,

By default, Cloudinary indeed automatically rotate the image on upload, according to the orientation specified in the EXIF metadata.

To override that functionality, you need to add the `angle: "ignore"` parameter to your upload request instead of `flags: "force_strip"`.
This will disable the automatic rotation and will let you achieve the results you are looking for.

[2019-09-08 14:30] yongyi520 commented on #296
Hi @cloudinaraz

I have tried your suggestion and the result still rotates the image incorrectly on iPhone X. (sorry for the blown up images coming up)

Here's the upload code with file.path on the server
`file.path=/tmp/upload_252ba9fb3c3ce0b928f37f3303a2e0a1`
`const response = await cloudinary.uploader.upload(file.path, {
          public_id,
          angle: "ignore"
        });`
response i got

[2019-09-08 14:52] yongyi520 commented on #296
If it helps, here's my client side code for uploading the file to the server:

------
const fileUrl = await getBase64(file)
// crop image
// calculate cropped area pixel
const initialCroppedAreaPixels = await calculateInitialCroppedAreaPixels(fileUrl, aspect)

// initial crop
if(initialCroppedAreaPixels) {
    const croppedImageFile = await getCroppedImg(
    fileUrl,
    initialCroppedAreaPixels

[2019-09-09 05:01] yongyi520 commented on #296
Another question:

Does cloudinary rotate the image based on any other information?

Because I used piexifjs library to stripped away the exif information before upload and it still rotates the image

[2019-09-09 10:19] jhalborg commented on #175
Any hopes for @bd82 's great work to be finished and merged by the team before then? It seems he really has already done most of the work.

[2019-09-09 10:51] yongyi520 commented on #296
I figured out the problem:

Problem: When I send the file over to the server, there's no orientation data for cloudinary upload.

Solution: Set EXIF orientation on the blob file before cloudinary upload

Example:
iOS selfie photos have `Orientation = 6`.
When I convert image to blob (after cropping) then uploaded to the server, orientation data is lost
If i set orientation as 6 on the EXIF data, t

[2019-09-09 13:07] roeeba commented on #175
Hi, @jhalborg. The official solution is currently in the works (final stages, see https://github.com/cloudinary/cloudinary_npm/tree/feature/add-ts-decleration-file). We will update as soon as it is published. Stay tuned :)

[2019-09-09 15:07] cloudinaraz commented on #296
@yongyi520 I'm really glad to hear that you've found the root cause for the loss of the orientation metadata when uploading the image to your server. Thanks for sharing!

In that case, you actually wanted to rotate the image based on the metadata information, and not ignore it. This is done automatically by our servers when the orientation data is indeed available.
The `angle: "ignore"` should be

[2019-09-09 15:36] yongyi520 commented on #296
Thank you for the insight on `angle: "ignore"` parameter. I will keep that in mind for the future!

[2019-09-09 15:36] #296 closed

[2019-09-14 05:39] Moshmel commented on #292
hey guys... 10x for  responding so fast :]
the issue is fixed.
for some reason it gave me this error but it is still working on the server side.

thanks a lot

[2019-09-14 05:39] #292 closed

[2019-09-15 13:55] roeeba commented on #271
Thanks for the note @repentsinner. Indeed, we'll update on #175 .

[2019-09-15 13:55] #271 closed

[2019-09-19 13:54] Enado95 commented on #29
HI @eyalktCloudinary i have you exact implementation but i still receive not found see code below:

[code]

[2019-09-19 14:16] Enado95 opened #299 "Cloudinary delete not working"
I tried an example based on the docs and was unsuccessful. I tried an example given in an issue #29   and was still unsuccessful. See my code below

[code]

Response:
`{ result: 'not found' }`

[2019-09-19 19:42] roeeba commented on #299
Hi @Enado95. Looking at your account and your logs, I see that you're asking for a resource of type `raw` while the resource is of type `image`. Please try changing it to `resource_type: "raw" ` and let me know if that works?

[2019-09-19 19:48] Enado95 commented on #299
Works like a charm. After revisiting the docs I do see the various resource [types](https://cloudinary.com/documentation/image_upload_api_reference#optional_parameters) Thanks a lot.

[2019-09-19 19:49] roeeba commented on #299
Glad to hear :)

[2019-09-19 19:49] #299 closed

[2019-09-20 09:46] anonystick opened #300 "cloudinary not working when login"
I see
cloudinary not working when login
<img width="1836" alt="Screen Shot 2019-09-20 at 4 45 33 PM" src="https://user-images.githubusercontent.com/48472372/65317518-30c90a00-dbc6-11e9-82be-ce5339507b45.png">

[2019-09-20 15:26] aleksandar-cloudinary commented on #300
Hi @anonystick . Looking at the logs on our end I can see that you've renamed your cloud name today and from your screenshot, it is showing the old cloud name. It is advisable to logout and back in after renaming your cloud in order to invalidate any stale sessions/references to the old cloud. If you rename your account without logging out and back in then you can also run into errors during uploa

[2019-09-21 21:21] Enado95 opened #301 "Can you transform image while upload?"
Is it possible to transform image before final storage ?
Im using node.js

[2019-09-21 21:30] brian-cloudinary commented on #301
Hi @Enado95, you can use the `raw_transformation` or `transformation` option when uploading an asset to transform it before it is stored.

[code]

Let me know if this works for you?

[2019-09-21 21:38] Enado95 commented on #301
How i would I get the image URL tho given i would just be uploading a new image? i have to upload it first then upload again to transform?

[2019-09-22 13:41] roeeba commented on #301
@Enado95 There are two approaches for applying your transformations. The first is using [Incoming Transformations](https://cloudinary.com/documentation/upload_images#incoming_transformations). This approach applies your desired transformations on the original image that is uploaded to Cloudinary. Except for specific CDN level transformations like `f_auto`, most transformations are supported with i

[2019-09-22 18:15] Enado95 commented on #301
Okay thanks

[2019-09-24 20:53] #301 closed

[2019-10-10 15:39] irajwani opened #305 "ENOENT: No such file or directory, open 'my_video_name.mp4'"
Hi, I do not think I should be facing an issue and I'm probably making a mistake somewhere but I followed the docs on how to upload videos for the Node.JS SDK very carefully and am stumped on what the problem is. I have configured my cloud name, api key, and secret globally in my node js project so I don't think this issue is permissions related. I just tried cloudinary(v2).uploader.upload(file,op

[2019-10-10 16:50] shirlymanor commented on #305
It seems that it doesn't find the video `lorem_video.mp4` in the directory. Can you try giving the all path e.g., `/Usera/imadrajwani/.../lorem_video.mp4`? Or just for testing try:

[code]

[2019-10-10 19:42] irajwani commented on #305
Thank uuu. Providing the absolute path worked like a charm.

[2019-10-10 20:59] BioRodney opened #306 "Uploading SVG data urls will result in an errno":-36,"code":"ENAMETOOLONG""
SVG data urls are no longer recognized because the regex in isRemoteUrl doesn't take svg+xml as a mime type into account.

The following regex is used in isRemoteUrl:
/^ftp:|^https?:|^gs:|^s3:|^data:([\w-]+\/[\w-]+)?(;[\w-]+=[\w-]+)*;base64,([a-zA-Z0-9\/+\n=]+)$/

To match SVG data urls it should probably be like this:
/^ftp:|^https?:|^gs:|^s3:|^data:([\w-]+\/[\w-]+(\+([\w-]+)?)?(;[\w-]+=[\w-]+)*;

[2019-10-11 04:11] roeeba commented on #188
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-10-11 04:11] #188 closed

[2019-10-13 12:49] glani commented on #299
it looks like it does not work for files uploaded using type 'auto'. I tried both node and python library the same answer 'not found'.  Python: cloudinary==1.16.0, node=1.14.0

[2019-10-14 17:33] brian-cloudinary commented on #299
@glani the `auto` resource type is not a resource type supported by Cloudinary - rather, when uploading the resource, it would automatically categorize the asset as an image/video/raw file, and use the relevant `resource_type`.

So, you cannot delete resources with the `auto` resource type. You would need to use the actual resource type returned in the response of the upload.

[2019-10-14 21:50] AdamGerthel opened #307 "Getting latest version when using cloudinary.url()"
I'm using `cloudinary.url(remote_id, options)` when getting image urls. However, I'd sometimes like to _not_ get the cached version but instead get the latest version of the image. I can't seem to find any documentation for `cloudinary.url()` and the options that are available on the options object.

Is this possible to do?

[2019-10-14 21:56] shirlymanor commented on #307
@AdamGerthel It depand how you update your image. You can read more about it here: https://support.cloudinary.com/hc/en-us/articles/202520852-How-can-I-update-an-already-uploaded-image-

[2019-10-14 22:28] AdamGerthel commented on #307
@shirlymanor I am updating the image by using the same id (as mentioned in your link) and I'm getting a new version number back. But I'm using `cloudinary.url()` from this node package to make it easier to construct a URL to the image that includes certain parameters (width etc.). However, the resulting URL does not seem to use the latest version. Is it possible to include the version number as pa

[2019-10-14 22:31] shirlymanor commented on #307
Can you contact us at support@cloudinary.com with your cloud name? we can tweak your account to invalidate the unversioned URL.

[2019-10-14 22:36] AdamGerthel commented on #307
Actually, I just found it by going through the code of this repository. Apparently, it's possible to pass the version as an field in the options param: `cloudinary.url('insert-id', { version: 'insert-version-number'})`

[2019-10-15 14:22] igy commented on #306
Hi Rodney,
Thanks for filing this - please give me a while to check the details and do some tests; if it checks out, it should be a quick change and we can add it to the SDK shortly.
-Stephen

[2019-10-17 17:35] Maxfurry opened #308 "`SameSite` and `Secure` cookies attribute. Warning Chrome"
It seems that the Chrome team has started notifying of deprecation of a future feature in the delivery of cookies with the cross-site request.

I have been having the warning showing on my console and decided to bring to the attention of the team if it is not already known.

[2019-10-18 18:40] shirlymanor commented on #308
Thank you @Maxfurry for bringing it to our attention.

[2019-10-18 23:47] Maxfurry commented on #308
@shirlymanor Would appreciate it if I am notified when the update is made

[2019-10-24 23:22] mikeulvila commented on #306
+1 having the same issue with svg.

[2019-10-28 13:18] igy commented on #294
HI Antoine,

Sorry for not following up on this earlier; I missed one of the status emails internally and didn't notice this was now complete - I added the changes you suggested in PR #298  and it was released with v1.16.0 of the SDK, released two weeks ago.

Thanks again for bringing this to our attention
-Stephen

[2019-10-28 13:18] #294 closed

[2019-10-30 11:18] igy commented on #291
Hi Jonas,

Following up on this issue, I can confirm that the server-side behaviour doesn't currently support returning more than 2000 results, and pagination is not supported. We have a task open to add this, and I'll be sure to let you know if it's added.
Thanks,
Stephen

[2019-11-11 13:52] roeeba commented on #175
Hey everyone, typings were just added!
https://github.com/cloudinary/cloudinary_npm/commit/83b3344deed172e517e7b24a4530dd0f779e5e62

Enjoy :)

[2019-11-11 13:52] #175 closed

[2019-11-11 21:02] waletayo commented on #108
kindly follow this tutorial to upload multiple image to cloudianry

https://tycodez.hashnode.dev/upload-multiple-images-to-cloudinary-node-mongodb-express-ck2qn9jgq006qiws1ck5ci9gi

[2019-11-11 21:13] protium-dev opened #314 "Wrong function types API V2"
I just noticed that in the last release (1.17.0), types for `cloudinary.uploader.upload_stream` are wrong. The function expect as first param `upload_preset: string`.
See https://github.com/cloudinary/cloudinary_npm/blob/master/types/index.d.ts#L841

[2019-11-11 22:36] shirlymanor commented on #314
Thank you for pointing it out for us! we will update it and let you know when it done.

[2019-11-18 08:03] RWOverdijk commented on #175
New phone, who dis?

[2019-11-19 20:13] alexbjorlig opened #315 "Missing types on rv2.api.resources_by_ids()"
Resources by ids have the return type `any`

[code]

Not super useful 🤷🏾‍♂️

[2019-11-19 20:56] shirlymanor commented on #315
Thank you for the feedback!
We are checking with our team to set a type.

[2019-11-19 21:02] dauledk commented on #315
When you add the interfaces, make sure to think about documentation as well. Would be awesome to have the documentation at your fingertips, when using the typscript SDK.

Something like this:

[code]

Gives your intellisense like this in Code:

![Screenshot 2019-11-19 at 22 00 53](https://user-images.githubusercontent.com/9967422/69186104-2ff61b00-0b18-11ea-82c3-b589d8045fd0.png)

Would be super h

[2019-11-20 11:53] tzivz opened #316 "Missing name property in errors"
We ran into an issue with the Cloudinary code where an error is causing an uncaught promise rejection in serverless code.

We tracked the issue down to Serverless' logging code which expects errors to have a `name` property. I think the Serverless code is reasonable considering that JS `Error` prototypes have `name`.

I propose adding a `name` property to errors. I ran into this in the `uploader.j

[2019-11-20 16:42] igy commented on #316
Thanks for the details; let me check, but this seems like a reasonable request to me - I've asked one of my colleagues to check the PR

[2019-11-24 10:16] strausr commented on #59
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:16] #59 closed

[2019-11-24 10:20] strausr commented on #145
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:20] #145 closed

[2019-11-24 10:21] strausr commented on #146
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:21] #146 closed

[2019-11-24 10:23] strausr commented on #182
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:23] #182 closed

[2019-11-24 10:23] strausr commented on #200
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:23] #200 closed

[2019-11-24 10:24] strausr commented on #202
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:24] #202 closed

[2019-11-24 10:24] strausr commented on #204
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:24] #204 closed

[2019-11-24 10:25] strausr commented on #205
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:25] #205 closed

[2019-11-24 10:25] strausr commented on #220
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:25] #220 closed

[2019-11-24 10:26] strausr commented on #226
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:26] #226 closed

[2019-11-24 10:26] strausr commented on #237
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:26] #237 closed

[2019-11-24 10:27] strausr commented on #300
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:27] #300 closed

[2019-11-24 10:28] strausr commented on #236
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:28] #236 closed

[2019-11-24 10:29] strausr commented on #272
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:29] #272 closed

[2019-11-24 10:29] strausr commented on #305
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:29] #305 closed

[2019-11-24 10:30] strausr commented on #307
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:30] #307 closed

[2019-11-24 10:31] strausr commented on #293
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:31] #293 closed

[2019-11-24 10:32] strausr commented on #287
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2019-11-24 10:32] #287 closed

[2019-11-28 13:32] outerlook opened #319 "Typescript upload result type"
Hi! I highly appreciate types were added recently, but could I ask for some improvements? Results and error type on callback are missing.

currently I`ve being doing (in a simplfied manner) this:
[code]

but it is error prone. Errors like #151 could be avoided.
Could I kindly ask if it's possible for that typings to be added, or there if there are some complications on that?

[2019-11-30 17:45] PFittech opened #320 "Delete multiple files problem (delete_resources / destroy)"
Hello, Can someone help me, please? How I can delete one and more images from cloudinary in node.js? I try this:

[code]

`  cloudinary.api.delete_resources(ids, (error, result) => {
    console.log(result, error)
  });`
NOT WORKING

[code]
ALSO NOT WORKING

**where I try 2 variants of ids:**

A:
[ https://res.cloudinary.com/franek/image/upload/v1575129481/labbka/file_e9tfyg.webp,
 https://res.clo

[2019-11-30 21:43] aleksandar-cloudinary commented on #320
Hi @PFittech. When using the [delete resources](https://cloudinary.com/documentation/admin_api#delete_resources) method of the Admin API then you can indeed pass an array of public_ids to delete (variant B). I don't see any requests to the Admin API, but I can see the failed [destroy](https://cloudinary.com/documentation/image_upload_api_reference#destroy_method) method calls. Variant A is invalid

[2019-11-30 21:46] aleksandar-cloudinary commented on #320
Hi @PFittech. When using the [delete resources](https://cloudinary.com/documentation/admin_api#delete_resources) method of the Admin API then you can indeed pass an array of public_ids to delete (variant B). Variant A is invalid and won't work for any API calls and that is why Request 1 fails. I can also see the failed [destroy](https://cloudinary.com/documentation/image_upload_api_reference#destr

[2019-12-01 06:14] PFittech commented on #320
@aleksandar-cloudinary thank you, You solved my problem. Maybe a quick question why I see **undefined** in response?

[code]

[2019-12-01 08:46] aleksandar-cloudinary commented on #320
@PFittech No problem at all. The undefined in the response corresponds to the 'error' variable that is returned in the callback and is printed at the same time as the 'result'. As the API call didn't produce any errors the 'result' is printed and 'error' is undefined. For example, if you look at your Response 2 in the initial post, you'll notice that the 'result' is undefined and 'error ' has a va

[2019-12-01 10:03] #320 closed

[2019-12-01 10:37] roeeba commented on #319
Hi, @outerlook. Thank you for your input. We will look into it and update.

[2019-12-07 08:02] Silver-birder opened #323 "Wrong the link that support typescript"
I access to the [page](https://www.npmjs.com/package/cloudinary#typescript).

(https://github.com/cloudinary/cloudinary_npm/types/index.d.ts).
-> Not Found

I think below is correct.
https://github.com/cloudinary/cloudinary_npm/blob/master/types/index.d.ts

[2019-12-07 17:32] aleksandar-cloudinary commented on #323
Thanks for reporting @Silver-birder. I've added a PR - https://github.com/cloudinary/cloudinary_npm/pull/324

[2019-12-07 20:57] asisayag2 commented on #323
Fixed.
Thanks @Silver-birder for raising this

[2019-12-07 20:57] #323 closed

[2019-12-12 10:31] Marsup opened #326 "Why is typescript included as dependency ?"
Hi,

Is there any reason why you include the compiler in your normal dependencies? Shouldn't it be in your devDependencies?

Thanks.

[2019-12-12 12:34] roeeba commented on #326
Hi @Marsup. Thanks for bringing this up. We will check it out.

[2019-12-19 07:10] Motoxpro commented on #145
Here is how I did it witha  Firebase Cloud Function

[code]

[2019-12-19 11:12] Motoxpro commented on #205
For future reference.
I'm not exactly sure, but I think it's wrong because the timestamp is a string. It needs to be an int

[code]

[2019-12-22 23:41] rgolea commented on #314
I've got 2 issues with this. First of all, if you're going to put out there a v2, please update the package version to v2 so we know there are breaking changes. Also, all the types are wrong, not just `upload_stream`. They are kind of unusable. There are promises where there should be void, strings where callbacks... At this point it should be way easier just converting the files to ts and setting

[2019-12-23 10:00] idobarnoam commented on #314
Thanks @rgolea

We have an open request with our dev team to look into this.
We would take this internally and see how to approach it.

[2019-12-24 13:06] #276 closed

[2019-12-26 10:28] alexeychikk opened #328 "No TypeScript declarations for api v1"
No TypeScript declarations for api v1, for example:
`Property 'config' does not exist on type 'typeof import("cloudinary")'`

[2019-12-26 12:46] rgolea commented on #314
@idobarnoam @asisayag2 if you guys need to, I might take a look myself but I believe converting all files to `.ts` and bundling everything back to `.js` and `.map.js` will bring better typings not only for end users but better management for the project internally.

[2019-12-26 13:06] idobarnoam commented on #314
Thanks for offering @rgolea

As there are several considerations to take into account at this point we would internally discuss this and see the best approach.

We would definitely keep in mind your offer :)

[2019-12-29 13:26] roeeba commented on #328
Hi @alexeychikk. Types were added to v2 and are not supported on v1. If TS is required in your app and If possible, I recommend upgrading to v2.

[2019-12-29 19:45] alexeychikk commented on #328
@roeeba unfortunately there is no documentation so migration would require a lot of testing stuff out. Last time I tried API v2 to upload stream it just didn’t work out so I stick to API v1.

[2019-12-29 19:45] #328 closed

[2020-01-03 01:05] haithamelmengad commented on #308
+1

[2020-01-03 09:21] aleksandar-cloudinary commented on #308
Hi @Maxfurry, @haithamelmengad - The update to set SameSite=None has been made to the relevant cookies set by Cloudinary. I'd suggest logging out and clearing any existing cookies and then logging back in again. This will ensure the cookies are with the updated attribute thus not producing the warning anymore.

[2020-01-05 01:56] Maxfurry commented on #308
@shirlymanor <https://github.com/shirlymanor> Thanks a lot for the update.

On Fri, Jan 3, 2020 at 10:21 AM Aleksandar Kostadinov <
notifications@github.com> wrote:

[2020-01-21 13:06] sakulstra commented on #314
We'd love to see that happen as well.

Currently this library is really hard to cope with due to wrong typings and other ts related problems like #326 (which breaks our build as we're using 3.7 internally).

[2020-01-21 14:39] TrySound commented on #326
@roeeba There is PR https://github.com/cloudinary/cloudinary_npm/pull/335

[2020-01-21 15:03] igy commented on #314
Regarding the original issue here, a fix for the issue with upload_preset in the upload_stream method was merged earlier this week and should be in the next release.

If you want to pull the fix from master, details of the change can be found here: https://github.com/cloudinary/cloudinary_npm/pull/331

[2020-01-21 17:52] rgolea commented on #314
I'm finishing a project in about a month. Maybe then I can refactor the project to use typescript by default. It should render obsolete the `eslib-es5` folder and it should do the typings properly. If people want to use that fork, they're more than welcome. I will put it as a PR. If it gets merged, it would be awesome. I might also separate it in order to be able to publish it as `@cloudinary/...`

[2020-01-22 10:25] igy commented on #314
Hi Rares,
I can't speak as to whether that's something that will definitely work with the SDK team's roadmap for the SDK, but I'd certainly encourage you to make changes that work for you and your requirements; at the very least, as you said you can publish the changes yourself for other developers whose requirements align closely with yours

[2020-01-30 10:29] strausr commented on #326
@TrySound Thank you for the PR closing this request

[2020-01-30 10:29] #326 closed

[2020-02-03 11:52] OskarAhl opened #341 "Upload multiple images from memorystorage"
Hi, i'd love to use cloudinary but i'm struggling with the documentation.

I'm using a Multer.MemoryStorage to store the image buffers in memory and a async function to upload the images. It works well for a single image. For multiple images it only uploads only one of the images.

[code]

I'd appreciate any help with this, thanks!

[2020-02-03 23:08] aditimadan-Cloudinary commented on #341
Are you passing the same public_id for all the images? From the code you shared looks like the public_id is constant and if your account setting is to overwrite/replace image then it will just overwrite the old one and in the end you will just have the last image on Cloudinary.

[2020-02-04 01:26] OskarAhl commented on #341
@aditimadan-Cloudinary Ahh that's it! Thank you 🙏

[2020-02-04 01:26] #341 closed

[2020-02-04 15:24] roeeba commented on #35
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-04 15:24] #35 closed

[2020-02-04 15:32] roeeba commented on #69
Closing this issue due to the time elapsed. Please check our latest version of the widget (v2). If the request is still relevant, please feel free to either re-open the issue or contact our support at http://support.cloudinary.com.

[2020-02-04 15:32] #69 closed

[2020-02-04 15:37] roeeba commented on #79
Closing this issue due to the time elapsed. We’ll consider implementing it in the future React-Native SDK. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-04 15:37] #79 closed

[2020-02-04 15:37] roeeba commented on #107
Closing this issue due to the time elapsed. We’ll consider implementing it in the future React-Native SDK. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-04 15:37] #107 closed

[2020-02-04 17:58] #308 closed

[2020-02-05 09:59] igy commented on #316
Apologies for the delay; I see #317 was merged, so closing this issue - thanks!

[2020-02-05 09:59] #316 closed

[2020-02-05 11:40] #314 closed

[2020-02-07 15:29] sitrucp commented on #308
Not seeing cookies with the updated attribute.

[2020-02-09 10:51] roeeba commented on #308
@sitrucp Can you please let us know which of Cloudinary's cookies you see don't have the attribute?

[2020-02-09 13:37] sitrucp commented on #308
__cfruid
__utma
__utmc
__utmz
_ga
_mkto_trk

[2020-02-13 11:38] jbjhjm commented on #314
@igy You closed the issue, has it been fixed? As far as I see it's still unresolved.

[2020-02-13 11:52] igy commented on #314
As far as I'm aware this was resolved by the PR above, which was released in v1.19 of the SDK.
If you're still seeing issues with the typescript definitions, may I ask you to please open a new issue with the details?

It may be worth mentioning that the cause of this discrepancy was that the upload preset field was marked as mandatory in the definitions for the upload_stream function (which isn't

[2020-02-14 01:52] trevthewebdev commented on #145
It's 2020 and the documentation is still lacking. I've spent 3 days (at least 6 hours a day) on this now and FINALLY got it working thanks to @Motoxpro. I was plagued by the dreaded `invalid signature` error. The following is the bare minimum to get this thing to authenticate.

client-side (I happen to be using react)
[code]

server-side (nodejs)
[code]

Again... this is the bare minimum to get th

[2020-02-16 12:56] joemidi opened #345 ""TypeError: querystring.escape is not a function""
I'm trying to use `cloudinary.utils.download_zip_url(options);` but I run into this error.

[2020-02-16 14:04] eyalktCloudinary commented on #145
Hi @trevthewebdev,
Thanks for the feedback regarding our documentation. I'm glad to hear it is now working for you!
We continuously strive to improve our documentation, and clients' feedbacks, like yours, are very helpful.
I hope you'll never encounter the dreaded `invalid signature` error again :) If you do see this error, or have any other question/issue, be sure to let us know! either here, in

[2020-02-16 15:00] joemidi commented on #345
It seems as though this was just `webpack` resolving the wrong version of `querystring`.

With the information from https://github.com/mhart/aws4/issues/46, I have included a resolve for `'querystring-browser'` in the vue config.

Hope this helps other people!

[2020-02-16 15:00] #345 closed

[2020-02-16 23:55] austinthetaco commented on #145
@eyalktCloudinary instead of a friendly reply hoping it doesn't happen anymore: why not just fix the documentation?

[2020-02-17 09:26] roeeba commented on #73
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 09:26] #73 closed

[2020-02-17 09:27] roeeba commented on #74
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 09:27] #74 closed

[2020-02-17 09:30] roeeba commented on #243
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2020-02-17 09:30] #243 closed

[2020-02-17 09:41] roeeba commented on #245
Closing this issue as it's irrelevant to our NPM package. We will, however, update here if and when this will be developed.

[2020-02-17 09:41] #245 closed

[2020-02-24 15:06] marcnjaramillo commented on #308
As of February 24, I’m still seeing the warning in the console.

@aleksandar-cloudinary mentioned logging out and clearing cookies and then logging back in again. Does this mean assets that had been stored prior to the update in the code are not being automatically updated with the appropriate flag and are still sending out older cookies? I’m using images that are accessed from another Cloudinary

[2020-02-24 15:21] sitrucp commented on #308
Still also seeing Cloudinary cookie SameSite warnings. Only two cookies
have SameSite values, rest are blank:

__cfduid Lax
__cfruid None
__utma blank
__utmb blank
__utmc blank
__utmt blank
__utmz blank
_ga blank
_gid blank
_mkto_trk blank

On Mon, Feb 24, 2020 at 3:06 PM Marc Jaramillo <notifications@github.com>
wrote:

[2020-02-24 15:34] aleksandar-cloudinary commented on #308
Responses from res.cloudinary.com (that is used to deliver resources) do not set cookies so there isn't anything needed for this case specifically.

If you've accessed cloudinary.com (or support.cloudinary.com etc) then there will be some analytics and 3rd party cookies set. The session and other critical cookies to Cloudinary functionality and Widgets have been updated to have a SameSite attribut

[2020-02-24 15:46] marcnjaramillo commented on #308
Thanks for the quick response! I haven’t set up a Cloudinary account myself, so this new to me. I only caught it because I’m using some image assets that come from another Cloudinary account and saw the warning (but I will he setting up my own account soon). I wanted to be sure I understood what was going on.

[2020-02-24 15:58] sitrucp commented on #308
Ok, I had Cloudinary dashboard open, which accounts for rest of cookies without SameSite value. After closing it, my site using Cloudinary API then shows only one cookie __cfduid with SameSite 'Lax' and no Chrome SameSite warnings.

[2020-02-28 04:22] kangaroo5383 opened #350 "cloudinary.url is generating the wrong url"
For
`cloudinary.url(fileKey, transform)`

instead of a url that looks something like
`https://res.cloudinary.com/[accout_id]/image/upload/c_scale,w_114/v[some numbers]/scale-files-dev/releases/15/sets/14/0.jpg`

It always defaults to `v1` instead of `v[some numbers]`

[2020-02-28 12:48] aleksandar-cloudinary commented on #350
Hi @kangaroo5383. This is actually the default behaviour of the SDKs (to include a 'v1') when the resource you're requesting a URL to be generated for is within a folder. If you are supplying a public_id without a folder then no version component would be included. This is the default URL format that is sent for invalidations at the CDN and therefore why the SDKs also generate it this way by defau

[2020-03-01 11:19] strausr commented on #238
@Clemens-B Thank you for your input. This is not on our immediate roadmap. That being said, if we decide to support this in the future we'll update

[2020-03-01 11:19] #238 closed

[2020-03-01 11:34] strausr commented on #306
isRemoteUrl() was updated in https://github.com/cloudinary/cloudinary_npm/commit/5c4504a7138b4b22674e4e3da4a00dc20fac6c57

[2020-03-01 11:51] afkir01 commented on #328
@alexeychikk , This solved the issue for me:

import * as cloudinary from 'cloudinary/lib/v2';

[2020-03-11 08:47] strausr commented on #150
Resolved on https://github.com/cloudinary/cloudinary_npm/pull/273

[2020-03-11 08:47] #150 closed

[2020-03-11 08:52] strausr commented on #291
Closing due to time elapse. We'll update if this feature is added to our roadmap

[2020-03-11 08:52] #291 closed

[2020-03-11 12:17] strausr commented on #283
Closing due to time elapse. If we decide to add this to our roadmap we'll update

[2020-03-11 12:17] #283 closed

[2020-03-15 01:28] kangaroo5383 commented on #350
thank you this is very helpful 👍

[2020-03-15 01:28] #350 closed

[2020-03-16 11:39] JLVilleminot commented on #306
Still not working for me on "cloudinary": "^1.20.0". The new regex on isRemoteUrl doesn't match SVG data urls, as you can see here : https://regex101.com/r/UYHjH6/1

[2020-03-16 13:23] HannesT117 opened #357 "Types missing for structured metadata support"
If I'm not mistaken, the functions added by #312 are not part of the index.d.ts yet. This includes ``create_metadata_field`` or ``update_metadata_field``, for example . Is it possible to add them to have a better TypeScript support? :)

[2020-03-16 18:48] strausr commented on #306
My apologies @JLVilleminot you're correct. We're still working on this and we'll update as soon as it is resolved.

[2020-03-29 12:45] strausr commented on #357
@HannesT117 Please see our latest release. Structured metadata was added to typings #359

[2020-03-29 12:45] #357 closed

[2020-03-29 12:48] strausr commented on #319
@outerlook  Please see our latest release. Upload result was updated on types #360

[2020-03-29 12:48] #319 closed

[2020-03-29 12:57] strausr commented on #315
@alexbjorlig Updated on our latest release. Please see #358

[2020-03-29 12:57] #315 closed

[2020-04-02 06:01] Niravdjoshi opened #364 "Getting cross origin issue due to user-agent in Mozilla and Safari Browser in Chrome Wroking"
cloudinary.uploader.upload(imageUrl, { colors: true },
      function (error, result) {
        if (result) {
        console.log(result)
       } else {
          console.log(error)
        }
      })

I'm getting cross origin error in  mozilla and safari browser in due to 'user-agent' in header it's working fine in chrome browser.
When I removed ''user-agent' then it's working .

[2020-04-02 16:20] aleksandar-cloudinary commented on #364
Hi @NRVdjoshi. In general, but especially from server-side uploads like in your case, you shouldn't be getting any issues relating to CORS from Cloudinary. Server-side uploads won't experience that issue since the upload is done directly and not via a `XMLHttpRequest` or Fetch API request. However, even in cases the upload is done from the client-side via `XMLHttpRequest` or Fetch API the browser

[2020-05-17 14:36] Niravdjoshi commented on #364
It''s working fine after I have change request in server-side earlier I'm facing issue on client side.

[2020-05-17 14:36] #364 closed

[2020-06-03 11:41] ian opened #397 "Typescript error on `Cloudinary.utils.sign_request`"
## Describe the bug in a sentence or two.
…

Property 'sign_request' does not exist on type 'typeof utils'

## Issue Type (Can be multiple)
[] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected (Such as generate URL)
[ ] Documentation - Inconsistency between the docs and

[2020-06-03 19:31] shirlymanor commented on #397
Can you please elaborate on what you are trying to achieve?
If you want to generate a signed URL. you can use something like:
cloudinary.utils.url("sample",{sign_url:true})

[2020-06-03 19:34] ian commented on #397
Not sure how familiar with Typescript you are.  The code I have works fine in javascript, the functionality of the function `sign_request` is fine.  You just have an issue with your library and typescript compliance, which is causing errors in TS builds and ultimately failing deploys.

[2020-06-05 02:52] limaho commented on #145
Trying to implement using direct Rest Api without lucky. Anyone has a good example? I try with the code from @trevthewebdev and @Motoxpro. I am getting the signature, but once I sent the post with axios response with 401 error

[2020-06-05 09:31] igy commented on #145
Hi Lima,
Can you let me know which API calls you're trying to make, how you're generating the signature, and where it's failing? If you're using our Node SDK, the signature will be added automatically when using our SDK to make the call, or you can [use the `api_sign_request ` function to generate a signature if the call will be made from client-side code or another system](https://cloudinary.com/

[2020-06-08 06:28] strausr commented on #397
@ian Thanks for bringing this to our attention. I fix will be available in our next release.

[2020-06-08 11:42] strausr commented on #397
@ian please let us know if you have any issues following the release

[2020-06-08 11:42] #397 closed

[2020-06-13 12:54] melitus commented on #29
Ensure that during the upload that your resource_type is set to "raw". That way, you can set it again to "raw" whenever you want to delete a resource. This is my code for deleting below.
[code]
It works perfectly

[2020-07-07 21:58] good-idea commented on #59
I had the same issue where my API secret was misconfigured on my staging server. It would be helpful if this error threw an "Invalid secret" instead of "Invalid signature" when this is the case.

[2020-07-07 22:20] aleksandar-cloudinary commented on #59
Hi @good-idea. Thanks for your suggestion. Unfortunately, that isn't possible since the API Secret is not directly sent to Cloudinary. The "Invalid Signature" error is returned when the provided signature (which is used for authenticating the API call) doesn't match the parameters passed as part of the request. An incorrect API Secret is only one of the possible reasons that may cause an invalid s

[2020-07-07 22:37] good-idea commented on #59
Got it, that makes sense. Thanks for the quick reply!

[2020-07-11 18:39] NiccoloCase commented on #145
I am aware that it is a fairly old thread, but I really can't understand how to manage the entire image uploading flow and it doesn't seem to me that there are no examples in the documentation. I am developing my client application with react-native and I need to upload images directly from the client. I wonder if it is possible to use a server-generated signature to secure the whole process (as i

[2020-07-12 13:14] roeeba commented on #145
Hi @NiccoloCase, Please see my response to your [forum post](https://support.cloudinary.com/hc/en-us/community/posts/360009312339-Handle-signed-upload-from-react-native).
Let me know if you have any questions?

[2020-07-13 18:28] NiccoloCase commented on #145
@roeeba Thank you so much for the support. I really missed the difference between api key and api secret.

[2020-07-14 09:51] roeeba commented on #145
Glad I could help, @NiccoloCase :)

[2020-07-16 21:55] jacekkarczmarczyk opened #421 "search for untagged photos"
Feature request for Cloudinary_NPM SDK
…(If your feature is for other SDKs, please request them there)

## Explain your use case
I want to find all photos that don't have any tags

## Describe the problem you’re trying to solve
The only way now is to search all photos and filter those without tags, which is time consuming

## Do you have a proposed solution?
`cloudinary.search.expression('tags=[]'

[2020-07-16 22:29] shirlymanor commented on #421
Currently, the only way to get the assets without tags is to iterate on all the resources and get the one that tags are empty. I opened a request on your behalf to our product team to support this feature but no ETA yet.

[2020-07-27 09:32] Marsup commented on #215
I have nothing meaningful to add to this issue but this is almost two years old and it's still there, in our case on `upload_stream`, which seems to have no correct workaround. When can we expect a fix?

[2020-07-28 21:03] shirlymanor commented on #215
@Marsup The ETA is the end of the year.

[2020-07-29 10:42] patrick-tolosa commented on #215
@Marsup  to expand on @shirlymanor's comment,

A naive fix of this issue breaks backwards compatibility in certain use cases.
A fix is planned as part of a larger effort around this area.

[2020-08-25 08:35] lil5 commented on #88
[code]

The example (above) in the cloudinary documentation (https://cloudinary.com/documentation/image_transformations#adding_image_underlays) does not work.

The only way I managed to get an underlay/overlay was with @taragano answer:

[code]

[2020-08-25 10:26] eyalktCloudinary commented on #88
@lil5 Thanks for your feedback!
Notice that the `imageTag()` method is part of our JS SDK, where it seems to me that you're using our Node.js SDK.
The Node.js SDK method for creating an image tag is `image()` -
[code]
I couldn't find an `imageTag` example such as the one you've shared under Node.js examples in the mentioned documentation page. Could you kindly direct me to the relevant place so we

[2020-08-26 16:08] lil5 commented on #88
@eyalktCloudinary Thanks for the additional information, indeed I hadn't noticed.

Although I don't see the need to separate NodeJS from Web JS, just for generating a url 😂

 To answer your question I'm using the NodeJS SDK in the browser with `.url({transformation: []})` to output a url. And was look at the documentation for the JS SDK (oops 😅). TLDR: was some PEBCAK

[2020-09-01 11:11] thiag73 commented on #306
Had this issue with 1.21.0, seems fixed in 1.23.0

[2020-09-01 13:35] JLVilleminot commented on #306
@thiag73 You're right, it's working on 1.23.0. Thanks for pointing it out !

[2020-09-01 13:49] igy commented on #306
@thiag73 Thanks for pointing this out.
@JLVilleminot, this was resolved in #418 but we didn't have it linked with this issue correctly and forgot to close it - sorry about that

If you're still encountering issues with v1.23.0 or later, please open a new issue with the details

[2020-09-01 13:49] #306 closed

[2020-09-10 18:49] manoellribeiro opened #449 "How to have access to UploadApiErrorResponse to handle cloudinary errors?"
I'm trying to handle errors from the upload method, so I want to have access to the interface *UploadApiErrorResponse* to check if the thrown errors is from cloudinary or not. Is there a way I can do that?

For example, with Sequelize you can do:
[code]

[2020-09-10 20:11] leptians commented on #449
Hi @manoellribeiro , for any error in upload, it will be pass in the `error` param of the callback:

[code]

[2020-09-10 22:41] manoellribeiro commented on #449
Hi @leptians, thanks for your answer. I read about that in the docs, but I think it throws that error object as well, as I'm using it inside a try...catch block I would like to handle in the catch block not in the callback function.

[code]

[2020-09-10 23:36] leptians commented on #449
@manoellribeiro
If you wish to use try-catch-throw method, you can implement the following:

[code]

[2020-09-11 13:23] manoellribeiro commented on #449
@leptians
Thanks again for your help. I tried this way, but it didn't work because the app crashes if I throw anything in the callback function, I have searched for an explanation and I think this [answer](https://stackoverflow.com/a/3678123/12664985) by Daniel Vassallo makes sense.

[2020-09-11 17:14] leptians commented on #449
@manoellribeiro , thanks for sharing the link and that makes sense.
The reason the error is part of the callback, because the upload is an async operation. If you are trying to try-catch-throw, that means it's expecting a synchronous call, which generally considered as bad practice within javascript world.
Perhaps, can you elaborate your use-case and why you would prefer to use this approach (sync

[2020-09-11 18:44] manoellribeiro commented on #449
@leptians
I'm expecting it to be asynchronous as it is inside an async function:
[code]
I don't have much experience with Javascript, so maybe I'm not using best practices as you said (I'm open for tips). But I was only trying to check the error object type that is thrown when the upload fails.

[2020-09-11 23:53] leptians commented on #449
Hi @manoellribeiro ,

the parent function where you have Cloudinary uploader is async, however `cloudinary.uploader.upload` itself is also an async operation as well, hence the callback. This uploader will return a `Promise`

I would still recommend to handle your error inside the callback, and this is common practice for an async operation:

[code]

if you can share more detail on this `async fun

[2020-09-12 00:31] manoellribeiro commented on #449
@leptians Thank you for the help, but I have already found a way to handle it, so I think it won't be needed and I'm closing this issue as it seems to be a duplicated of #131.

I don't know if it is a best practice or not, but I did this way, if someone else come here with the same doubt:
[code]
As @leptians mentioned I could also do that:
[code]
As I'm trying to keep a pattern in my application I

[2020-09-12 00:31] #449 closed

[2020-09-22 15:20] vishal-chauhan97 opened #452 "Cloudinary Upload Widget response types"
Hey guys,
Thanks for making this awesome product, we have been using it for years now.
We are upgrading to cloudinary upload widget 2, we use react + typescript for our frontend application.
We are facing an issue for creating a type for the response we receive from the widget.
I have looked at the docs and I did not find anything related to types in there.
How do I get the types for the response

[2020-09-22 23:03] leptians commented on #452
Hi @vishal-chauhan97,

Thank you for your feedback and happy to hear that 👍
Upload Widget v2 was refactored and behaves very differently with Upload Widget v1.
The responses would varies depending on the media that you are uploaded.
Is there any reason why you would like to mapped all the types of the response?

Regards,
Erwin Lukas

[2020-10-10 10:29] juanibe commented on #8
Hi, long time after, but I think I am getting the same error...

` 'Server return invalid JSON response. Status Code 404. SyntaxError: Unexpected token < in JSON at position 0',`

This happen only when uploading video, and it was working properly before, from one day to the other started to failed...any clue?

[code]

[code]

[2020-10-14 18:37] TanBeige commented on #56
I found the solution to uploading videos. I started off by using expo-camera's recordAsync to get the video URI.
I used the URI of the video to convert it to a blob and then got the blob's data using FileReader.
This data can then be used as the file for Cloudinary.

`
async function getBlobData(blob) {
    return new Promise((resolve, reject) => {
      // Get Blob URL
      var reader = new File

[2020-10-16 12:12] olawalejuwonm commented on #214
how did you solve this please? @dmitryrn

[2020-10-16 14:39] Vdeub-cloudinary commented on #214
Hi @olawalejuwonm , it seems dmitryrn mixed up API keys from different accounts. If it is still not working for you, can you please open a support ticket by sending an email to support@cloudinary.com and include and cloud_name and api_key? We'll be able to help you with further debugging this issue.

[2020-10-21 06:52] vishal-chauhan97 commented on #452
@leptians thanks for the reply, sorry for the late resposne.
We just moved on to the Upload Widget V2 and I made some basic types for the response by noticing different types of responses I got from widget.
If anyone comes to this post in the future I am adding my basic types for the widget v2 version
`type CloudinaryResult = {
	info: {
		id: string;
		batchId: string;
		asset_id: string;
		public

[2020-10-21 06:55] #452 closed

[2020-11-09 02:18] JasonLMoffit opened #456 "callback is not a function"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
…

## Issue Type (Can be multiple)

[code]

[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected (Such as ge

[2020-11-09 10:43] igy commented on #456
May I ask for some more information about your bug report please? That looks like your own code at the end, but I don't see a question or information about where you think the SDK needs to be changed.
If you're trying to integrate the SDK into your application and are encountering an error with your integration rather than with the SDK itself, can you please let me know what that error is and in w

[2020-11-13 20:52] jbdemonte opened #457 "can't use the API when public_id contains a space (got 404)"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.

404 when public_id contains a space

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance issues
[x] Behaviour - Functions aren’t worki

[2020-11-14 12:36] aleksandar-cloudinary commented on #457
Hi @jbdemonte. Thanks for your message.

Looking at our logs, I've found the asset you are trying to retrieve. The reason it's not working for you isn't related to the space character, but rather the asset in question is of `resource_type` "video" and not an "image". By default, when you call API methods, Cloudinary SDKs set default values of the optional parameters, including `resource_type`. In

[2020-11-14 15:00] jbdemonte commented on #457
omg!

I did tons of test, with those parameters in the options: resource_type, format, version, secure, sign_url
And I missed that, my check with a non spaced name file was an image... so I though this was about the space

Thanks for your help.

[2020-11-14 15:00] #457 closed

[2020-12-17 21:03] vdupre opened #460 "Missing Typescript type declarations for at least "delete_folder" and "create_folder""
## Describe the bug in a sentence or two.

At least 2 type declarations are missing:
- [v2.api.delete_folder](https://cloudinary.com/documentation/admin_api#delete_folder)
- [v2.api.create_folder](https://cloudinary.com/documentation/admin_api#create_folder)

The code itself is working well with a ts-ignore :+1:

## Issue Type
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or

[2020-12-18 15:55] igy commented on #460
Thanks for reporting this - we're aware that the typescript files in the current version of the SDK don't currently cover everything

I discussed this with our SDK team recently and we're currently working on a new major version of the Node SDK, which will be built in Typescript from the beginning, and so that the team can focus on that, we're not planning to make edits to the 1.x versions to add

[2020-12-20 14:10] roeeba commented on #456
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com, or create a new ticket if you have any additional issues.

[2020-12-20 14:10] #456 closed

[2021-01-01 16:56] vdupre commented on #460
@igy ok, no problem, thanks for the answer and good luck with the new version then :)

And if I may, if you are building a new major version, 2 suggestions maybe:
- switch to promise instead of callback
- use camel case

[2021-01-03 14:12] cloudinaraz commented on #460
Hey @vdupre, we are working on a completely new major release of the Node SDK that will consist of some breaking changes, including retiring callbacks entirely for promises and using camel cases as you've mentioned.

I believe this is the answer you were hoping for 🙂.

[2021-01-04 10:24] jbty opened #464 "Video transformations not applied"
## Describe the bug in a sentence or two.
Hi, I try to transform video before upload and store, but when I try this code snipped, the video is correctly uploaded but no transformation is applied.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working

[2021-01-04 23:31] aditimadan-Cloudinary commented on #464
Do you see any errors on the video uploaded? Can you please share the public-id of the video that was uploaded with the overlay and the cloud name? If privacy is a concern then please share the information on a support ticket (support@cloudinary.com). Can you also explain what is file.hash here? Are you passing the same file to upload and then the same file as an overlay?

[2021-01-16 16:01] eric-otto opened #465 "test"

[2021-01-16 16:11] aleksandar-cloudinary commented on #465
Hi @eric-otto. I'll go ahead and mark this issue as closed but if you do have any issues please provide more information in this one or feel free to create a new one.

[2021-01-16 16:11] #465 closed

[2021-01-17 22:51] basantmohamed3 opened #466 "photos upload twice to cloudinary"
I am trying to uplaod bulk of images to cloudinary but if upload two .. i find 4 photos on cloudinary I need to know whats wrong with my code

//route
[code]

[2021-01-18 10:16] patrick-tolosa commented on #466
I see you've deleted our beautiful issue template, that's unfortunate as that information helps us help you much faster.

Your code seems to be right.
- Can you please confirm you're not sending a second request to your endpoint?

If this problem persists, can you please create a small git repo that reproduces this problem?

[2021-01-18 23:25] ryanmeador opened #469 "Device Pixel Ratio (DPR) support for Picture tag"
Feature request for Cloudinary_NPM SDK

## Explain your use case
I'd like to be able to automatically generate `source` variants based on DPR inside a `picture` tag.  Currently, we can use `cloudinary.picture()` to generate a `picture` tag, but there doesn't seem to be a way to factor DPR into either the `srcset` URLs nor the media query.

## Describe the problem you’re trying to solve
High-resolu

[2021-01-19 14:36] igy commented on #469
Hi Ryan,

I'm not aware of any current plans to change how the `picture()` method works and I believe we currently only support the min_width and max_width selectors , but I'd be happy to forward this to the SDK team for consideration as a feature request.

That said, I may be missing something about your requirements and have a follow-up question if you don't mind?

In your example, are you inten

[2021-01-21 02:21] ryanmeador commented on #469
Hi igy,

As far as I know, the CSS `px` unit is device independent ([MDN agrees](https://developer.mozilla.org/en-US/docs/Glossary/CSS_pixel)).  I don't think a browser can apply the logic you're suggesting without breaking a lot of stuff; the pixel has to have the same definition at the layout step as it does when evaluating the `picture` tag so that you can use it for art direction.  Just to be

[2021-01-21 16:50] igy commented on #469
Hi Ryan,

Thanks for the additional information - After reading the example you provided, I think I was thinking of a simple srcset without media queries involved - my experience there was that browsers take the CSS/logical pixel width and then add a multiplier for the DPR when choosing which of the offered images to show.

I performed a quick test in Chrome also on a Macbook Pro, and created an i

[2021-01-21 23:58] ryanmeador commented on #469
Yes, an `img` with `srcset` is probably the simplest solution to my problem.  Without using `sizes`, it has the drawback that the browser must download and parse the CSS before it can make the request for the image (so it can figure out which size to use).  The media queries are intended to avoid that delay.  I don't know if this is actually a perceptible delay on my site; I'm just trying to make

[2021-01-22 16:46] igy commented on #469
Hi Ryan,

We don't have a `CONTRIBUTING` file in our repository currently, but generally speaking we are open to reviewing and accepting PRs from customers, if you'd like to share a possible implementation for this.

If you do send something, I recommend that to aid the SDK team in reviewing it, it includes tests and that it's fully backwards-compatible (i.e that existing users of the picture() me

[2021-01-24 10:09] basantmohamed3 commented on #466
i confirm that I only send one request to the endpoint as the console only print the object one time

Kindly check my code in this link https://github.com/basantmohamed3/cloudinary-multipleUpload-issue

[2021-01-25 17:42] Muneeza93 commented on #146
hi everyone i am a junior developer and i am working on a project to develop a medical app however my challenge is uploading an image to cloudinary firstly it returned 'UNDEFINED' and i have tried to look for the problem but all has been in vain.When i told to log the error to the error it now returns 'cannot read property 'UPLOADER OF UNDEFINED' any assistance is appreciated. Below is my group.co

[2021-01-25 22:10] leptians commented on #146
Hi @Muneeza93 ,

Based on the error message you are getting, seems like importing Cloudinary SDK was not successful and the cloudinary object is not correctly defined.
Can you check if this is correct?
`const cloudinary = require("../config/cloudinary");`

How did you download Cloudinary NPM SDK? Please check the following [doc](https://cloudinary.com/documentation/node_integration#installation_an

[2021-01-25 22:39] Muneeza93 commented on #146
thanks Leptians for reaching out; below is my cloudinary in the config.js which i thereafter require in my group.controllers.js;

const cloudinary = require("cloudinary").v2;

cloudinary.config({
  cloud_name: process.env.CLOUD_NAME,
  api_key: process.env.CLOUDINARY_API_KEY,
  api_secret: process.env.CLOUDINARY_API_SECRET,
});
module.exports = cloudinary;

[2021-01-25 22:57] Muneeza93 commented on #146
thanks again Leptians, in my cloudinary.js file i was missing the CLOUDINARY_CLOUD_NAME so its now working. Much appreciated.

[2021-01-25 23:02] leptians commented on #146
@Muneeza93 , ah! Thanks for the update. and I'm glad you figured it out :)

[2021-01-26 02:22] momoip commented on #466
HI,
Your code has 2 app.post (line 70, 96) that each calls cloudinary.v2.uploader.upload.
This results in 2 upload actions and it shows from our log.
I hope this helps.
Best,
Mo

[2021-01-26 09:15] patrick-tolosa commented on #466
Hey @basantmohamed3

I ran your code and indeed the upload is happening twice.  (Thanks for providing the code, that was key to figuring this out)
After some debugging, I noticed you're `CloudinaryStorage`, which performs an upload internally

You're also explicitly uploading using the cloudinary node SDK (`..v2.upload(...)`).
You are uploading twice - once through CloudinaryStorage, and once manu

[2021-01-26 11:39] basantmohamed3 commented on #466
Hey @patrick-tolosa

Thank you, the problem solved. the problem was as you mentioned the cloudinaryStorage.

Thanks  alot

[2021-01-26 12:07] #466 closed

[2021-02-12 14:46] #460 closed

[2021-02-24 16:41] neymarjimoh opened #478 "Unable to view uploaded pdf file via cloudinary url after successful file upload"
## Bug report for Cloudinary NPM SDK

## Describe the bug in a sentence or two.
After i upload files from nodejs api, I'm unable to view the file from the browser using the generated url from cloudinary. it works smoothly for other file types but i'm currently facing this issue when uploading a pdf file.
…

## Issue Type (Can be multiple)
Behaviour - Functions aren’t working as expected (Such as g

[2021-02-25 08:32] eyalktCloudinary commented on #478
Hey @neymarjimoh, thanks for reaching out!
Due to a recent update to our security policies, we've added a restriction on deliveries of PDF and Archive files for new accounts. This is most probably the reason you cannot view the PDF files using their URLs. If you want this restriction to be removed, feel free to reach out via a [support ticket](https://support.cloudinary.com/hc/en-us/requests/new),

[2021-02-25 08:32] #478 closed

[2021-03-09 11:18] eran10 opened #480 "snyk security issue - update lodash to latest"
can you please update lodash to the latest version (4.17.21)
so that snyk security alert will be fixed for this package?

[2021-03-10 17:53] lachenmayer commented on #215
Hi there, we're still encountering this in production - this has crashed our servers on several occasions.

The root cause is the following:

1. We're using the public `upload_stream` API.
2. Internally, `upload_stream` calls `upload({ stream: true })`
3. When the `stream: true` option is passed down, `upload` returns the stream, and not a promise ([`call_api` returns the stream here](https://gith

[2021-03-11 11:05] patrick-tolosa commented on #480
hey @eran10

This library currently has an upgrade caret for lodash, we're using version
`^4.17.11` - meaning the latest `4.x version` but no less than 4.17.

Can you please share the synk report that demonstrates this issue?

A possible reason might be that your yarn/package lock files captured an older version of the lodash, which is now marked as vulnerable

[2021-03-13 08:26] eran10 commented on #480
yes i think you are right, i will re-create our yarn lock file, thanks

[2021-03-13 09:46] #480 closed

[2021-03-20 09:36] immortalObject opened #482 "Typescript api_url() result type"
`v2.utils.api_url()` is a synchronous function that returns `string`, but the types declaration [states](https://github.com/cloudinary/cloudinary_npm/blob/0ac8957c97767da49aad061452cd607d9f66b47e/types/index.d.ts#L709) that it returns `Promise<any>`

[2021-03-21 09:49] roeeba commented on #482
Hi @immortalObject , thanks for bringing this up. I've opened an internal ticket to fix it, and we'll update here once done.

[2021-03-21 10:00] patrick-tolosa commented on #482
This was very recently merged.

Thanks @immortalObject for the PR!

[2021-03-21 10:00] #482 closed

[2021-03-22 08:08] strausr commented on #215
@owenallenaz @lachenmayer This is not documented yet however the latest node SDK release (1.25.1) provides now an option to disable promises when using the API.
This option can be provided to the Upload API functions as  `disablePromise: true`.

Please let us know if this solves your issues with the unhandledRejection?

[2021-03-22 12:42] artem-sydorenko-backend commented on #215
Thanks. It works but should use disable_promises option instead of disablePromise

[2021-03-28 20:35] sinnrrr commented on #172
for those, who are using streams, here is quick and simple way of doing this: https://gist.github.com/sinnrrr/58901f7cdf77e299dc00ed23f362fcb8

[2021-03-30 22:59] aditimadan-Cloudinary commented on #215
Thanks, @artem-sydorenko-backend  I will open a request to change the name for this one.

[2021-04-03 09:42] abrarniyazi opened #484 "CLOUDINARY_URL not working with Nestjs."
I am using coudinary with `multter-store-cloudinary` npm package and it was working perfectly fine until recently.
To set the configuration parameters I was setting it to enviornment varialble CLOUDINARY_URL. But it seems like now it's not picking up credentials from this variable. I didn't change anything in the relevant code and also I updated some other packages with not directly related.
I am

[2021-04-03 10:34] patrick-tolosa commented on #484
Hey @abrarniyazi

`multer-storage-cloudinary` is a tool created by the community and is not directly maintained by Cloudinary.
I think it's best to open this issue in their github and see if they can provide additional information.

From this package's point of view, nothing was changed in how the configuration is read from the ENV variables.

[2021-04-03 10:50] abrarniyazi commented on #484
Hi @patrick-tolosa thank for the reply. Actually the reason I posted here is because I suspected that it might be because of Cloudinary package as nothing was changed in `multer-storage-cloudinary` package and it was working fine. Thanks I will dig into this more and try to find where is the exact problem.

[2021-04-03 11:43] aleksandar-cloudinary commented on #484
Hi @abrarniyazi
If you haven't already, what you can try is to log the value of the CLOUDINARY_URL environment variable in the code where you are using `multer-storage-cloudinary` rather than in the command line directly. It could be that the code is run under a different user and the environment variable is not accessible.

[2021-04-03 12:09] abrarniyazi commented on #484
Hi @aleksandar-cloudinary  thanks for your suggestion. I did print the environment variable a step before (during authentication) and it was logged just fine. But got error next.

`[Nest] 76973   - 04/03/2021, 2:04:39 PM   [NestApplication] Nest application successfully started +3ms
cloudinary://23479663830628:A9b3X1lJthxBN0y7xiFQP0uqv5o@dybvt2bml
[Nest] 76973   - 04/03/2021, 2:04:42 PM   [Excepti

[2021-04-03 12:27] aleksandar-cloudinary commented on #484
Hi @abrarniyazi,

Thanks for trying that. Please note that the CLOUDINARY_URL or API SECRET directly should never be shared publicly.

I have edited your response to redact it but this Edit history is available publicly.

I would recommend you to log into your account, go to your Settings -> Security tab -> bottom of the page and disabling the old API Key/Secret pair and generating a new one. Then

[2021-04-03 14:58] abrarniyazi commented on #484
Hi @aleksandar-cloudinary  thanks for your concern but I had already edited it by replaceing random number and characters. It did look like a real key but it wasn't. 😀

Please let me know if you have any suggestion for my original problem.

[2021-04-03 21:52] #484 closed

[2021-04-09 16:36] gianlucadifrancesco opened #485 "error code 400: "live is not currently supported with async""
Hi everyone!
I wanted to report a problem: whenever I try to use **upload_stream** to upload a video **bigger than 40MB** (even with **`async: true`**) I always get the same error and can't figure out what the problem is.

## Versions
Cloudinary_NPM SDK - v1.25.1
Node - v14.15.4
NPM - v7.5.6

## Steps to reproduce
I'll share with you how I came to this error, even if there are a couple of "useless

[2021-04-09 23:29] aditimadan-Cloudinary commented on #485
Can you please share the cloud name and upload preset that you are using and I will be able to check the logs.
If privacy is a concern then please raise a support request here with the details- https://support.cloudinary.com/hc/en-us/requests/new

[2021-04-11 14:22] gianlucadifrancesco commented on #485
Hi @aditimadan-Cloudinary, thank you for your immediate response!
I've just submitted the request, referring to this issue and providing the cloud name and upload preset.
Thanks in advance!

[2021-04-13 15:20] gianlucadifrancesco commented on #485
Just wanted to update after talking to the support:
- The error "_live is not currently supported with async_" was caused by the combination of `Live broadcast=false` and `async=true`.
- `async=true` was not needed and had to be removed. The correct setting was `eager_async=true` only.
- The error "_Video is too large [...] use eager_async=true_" continued to appear **because I was putting `format

[2021-04-13 15:20] #485 closed

[2021-04-19 15:53] MaSpeng opened #486 "Unable to use upload_prefix without https"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
If you try to use a `upload_prefix` without `https:`, the SDK still expects `https`.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performan

[2021-04-20 01:38] victorli-cloudinary commented on #486
Hi @MaSpeng , do you have a specific use case that requires using http instead of https? It is intended behavior that we only allow https for this.

[2021-04-20 06:14] MaSpeng commented on #486
Hi @victorli-cloudinary, yes indeed we currently have exactly this use case where we have to communicate using http instead of https.

Regarding the intended behavior, I was able to identify multiple spots where the SDK evaluates if it has to use http or https based upon the configured `upload_prefix`, for example, the current one which is faulty:

https://github.com/cloudinary/cloudinary_npm/blob

[2021-04-21 12:56] MaSpeng commented on #486
Since my pull request which addresses the issue has been merged this can now be closed.

Just a follow-up question, when is the next release planned?

[2021-04-21 12:56] #486 closed

[2021-04-21 13:02] patrick-tolosa commented on #486
Thanks for the issue, and the PR @MaSpeng  !

The next release is planned for this coming Sunday, April 25th.

[2021-04-21 13:05] MaSpeng commented on #486
@patrick-tolosa Thanks from me too. Glad I could help.

[2021-05-27 15:21] patrick-tolosa commented on #486
@MaSpeng you're absolutely right, the release was delayed due to internal reasons, we hope to release it early next week.

[2021-05-30 09:51] patrick-tolosa commented on #486
Hey @MaSpeng - We've just released a new version of the Node SDK, please let us know if there are any issues.

[2021-05-31 17:31] tobslob opened #491 "Module '"cloudinary"' has no exported member 'config'.ts(2305) Typescript"
## config is not exported in cloudinary module for typescript, please see the screenshot for more details

## Error screenshots
![image](https://user-images.githubusercontent.com/45825009/120225570-60566380-c23d-11eb-9572-366dc68ee41c.png)

## Versions and Libraries
Cloudinary_NPM SDK version
NPM - 1.25.2

[2021-05-31 21:05] tobslob commented on #491
Solved.

[code]

[2021-06-01 10:39] roeeba commented on #491
Thanks for the update, @tobslob . Closing.

[2021-06-01 10:39] #491 closed

[2021-06-01 15:11] IamTheHttp opened #492 "Testing issue"

[2021-06-01 15:23] #492 closed

[2021-06-05 21:09] yilmazbingo commented on #491
@tobslob Can you please show how you implemented cloudinary set up in typescript. I could not find it anywhere :(

[2021-06-07 08:25] tobslob commented on #491
@yilmazbingo have you implemented this?

[2021-06-07 14:19] patrick-tolosa commented on #464
Hey @jbty , We're closing this file due to time elapsed.

If you're still encountering issues, please open a new issue with an example.

[2021-06-07 14:19] #464 closed

[2021-06-13 15:36] noushad-pp commented on #484
For anyone looking for the same error, I had the same issue.
It happened because, env variable was not available when the cloudinary storage object is being created, even though trying to log the value shows the correct value. This might be caused due to using `ConfigService` from NestJs and the asynchronous behaviour of the ConfigService injecting the env variables.

The fix I used was to explici

[2021-06-15 22:34] Ignigena opened #496 "`context` and `metadata` Map support"
## Bug report for Cloudinary NPM SDK

## Describe the bug in a sentence or two.

[The documentation states](https://cloudinary.com/documentation/image_upload_api_reference#upload_method) that `context` and `metadata` both support Maps when using this SDK to upload images. However, when attempting to use a Map or even a standard Object, this does not seem to be fully supported. Images are uploaded

[2021-06-21 20:13] bfunc commented on #130
Thanks for the information. Solution for uploading image without creating temporary files works well, here is async version:
[code]

[2021-07-04 08:38] alanyong91 commented on #29
@melitus I still get `result { result: 'not found' }` with exact same setup.
`publicId` is the full URL or folder path?

[2021-07-05 18:00] Dalton-Klein commented on #130
THIS SAVED ME. I was having a problem getting my URL even though the upload was working. It was because the function has two arguments, error and result. You need to list result in the second argument slot. I was getting undefined, because it was printing the error, which was undefined.

[2021-07-06 08:56] eyalktCloudinary commented on #29
@alanyong91 Hey, in general, the `publicId` is the concatenation of the file's path in Cloudinary and its name. For instance, if a file named "my-asset" resides under the "animals/dogs/" Cloudinary folder path then its `publicId` would be "animals/dogs/my-asset". Note that when it comes to assets of type `raw`, the public ID [must contain](https://cloudinary.com/documentation/upload_images#uploadi

[2021-07-08 03:01] kentcdodds opened #499 "Make tree-shakeable"
## Explain your use case

Cloudinary is *way* to big to responsibly include in the browser for typical use cases: https://bundlephobia.com/package/cloudinary@1.26.2

In particular, all I want is the `url` utility to make it easier for me to construct URLs with cloudinary. But it's just too big to include in my client-side bundle.

## Describe the problem you’re trying to solve

I have a bunch of i

[2021-07-08 03:07] kentcdodds commented on #499
FYI, I found [`cloudinary-build-url`](https://cloudinary-build-url.netlify.app/), which handles my use case, but I'll leave this open because it would be really nice to have this from the official package.

[2021-07-08 15:09] igy commented on #499
Hi Kent,

Thanks for opening this.

The new 'V2' versions of our client-side SDKs, which are being released in beta at the moment, are more modular and use a different structure that should assist with most of your concerns about package weight, including being 'tree shakable': https://cloudinary.com/documentation/javascript2_integration#full_example

I think it's unlikely we'll try to make the No

[2021-07-08 15:09] #499 closed

[2021-07-08 20:13] kentcdodds commented on #499
Oh, that's super to see. I missed that somehow. I don't mind so much about the size for the NodeJS side either 👍

Thank you!

[2021-07-09 11:05] igy commented on #499
You're welcome; thanks for contacting us :)

[2021-07-22 10:52] andreeadc opened #501 "Upload_metadata not working for multiple selection/ single selection metadata fields"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I tried uploading values to a multiple selection field that I had set up in my account. I tried update_metadata, explicit methods. Neither worked for this specific field type, it worked for the string/ number ones. All of the attempts res

[2021-07-22 16:28] dannyv-cloudinary commented on #501
Hi @andreeadc.

I've tested this on my own account and the metadata was updated successfully. Running
[code]
gave me the response `{ public_ids: [ 'dog', 'lion' ] } undefined`

I first created the metadata field as a `set` with
[code]

Could you please provide us with the output of this code snippet so we can further investigate where things might be going wrong for you?
[code]

Many thanks,
-Dann

[2021-07-22 21:57] andreeadc commented on #501
Thank you for the quick reply, @dannyv-cloudinary! Ah, I misunderstood what the update_medata is doing. I thought that it will set the values to the metadata fields and will select them aswell. It didn't work in my case because I didn't have the values added in the metadata field's list. That makes sense! I have one more question though: My metadata field is already created inside cloudinary. Is t

[2021-07-23 10:12] dannyv-cloudinary commented on #501
Happy to help!

I'm afraid I'm not sure I've fully understood your followup request though. Would you mind providing an example please?

Thanks,
-Danny

[2021-07-23 16:33] EMDevelop opened #502 "ENAMETOOLONG, react js / node (express js)"
Hi,

I'm trying to upload quite a small image (489 × 510, 127 KB) to cloudinary. My application is set up with an Input on the front end (using React JS 17.0.2) which converts the image into base64 and sends it to my back end (Express JS 4.17.1).

I'm struggling to find any solutions - please can you help?

**Back End code**
`app.post("/api/v1/imageUpload", async (req, res) => {
  try {
    const

[2021-07-24 11:27] spudstuff opened #504 "cloudinary.image does not correctly escape single and double quotes in attributes"
cloudinary.image does not correctly escape single and double quotes in attributes. The replacements apply only to the first instance of single or double quotes, and not *all* instances.

## Issue Type
- [ ] Build - Can’t install or import the SDK
- [ ] Babel - Babel errors or cross browser issues
- [ ] Performance - Performance issues
- [x] Behaviour - Functions aren’t working as expected (Such as

[2021-07-24 18:29] #504 closed

[2021-07-24 18:30] patrick-tolosa commented on #504
Thanks, @spudstuff, for the PR.
I've merged the fix and it will be available in the next release.

[2021-07-26 12:08] EMDevelop commented on #502
Solved - I believe this was due to AXIOS.

solution was that I was passing an object into Cloudinary, and not the string of the image. (so "data" : "data: base64...." and not just "data:base64".

const uploadImage = async (imageText) => {
    try {
      const response = await Axios.post("/imageUpload", {
        data: imageText,
        headers: { "Content-type": "application.json" },
      });

[2021-07-26 12:08] #502 closed

[2021-07-30 18:37] andreeadc commented on #501
Sorry for replying this late, I've been OOO. So my use case is: I have an uploaded asset in cloudinary. I have multiple structured metadata fields (including the multiple selection ones, but as a default I don't have any list of options added, I want to add it through the API, for each specific asset). An example would be, I want to have for the multiple selection field "Category", for asset "Asse

[2021-07-30 23:21] momoip commented on #501
Hi @andreeadc,
Referring to our Doc example to create a field with different set values: https://cloudinary.com/documentation/metadata_api#examples-1, one field can have multiple datasource values.
eg exernal_id: "color1" "value": "red" etc.
When you configure the metadata field with one option you can choose *one* choice from the list values.
So you can set the value to be a list in your case:
ch

[2021-08-18 16:41] tom-saetran opened #511 "Type '{ folder: string; }' is not assignable to type 'Params | undefined'."
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two
Params types incomplete, folder does not exist in type "Params".

## Issue Type (Can be multiple)
[X] Incorrect Types - For typescript users who are having problems with our d.ts files

## Steps to reproduce

import { v2 as cloudinary } fr

[2021-08-18 19:04] d-mendoza commented on #511
@tom-saetran This issue should be opened with the plugin that you are using which is https://github.com/affanshahid/multer-storage-cloudinary/ as this is a different project. I am closing this ticket.

[2021-08-18 19:04] #511 closed

[2021-08-18 19:17] tom-saetran commented on #511
Whops! Thank you, and sorry for the inconvenience.

[2021-08-20 00:51] viperfx opened #512 "Remote image overlays not working"
## Describe the bug in a sentence or two.

When using the overlay transformations with a remote image, the final image URL generated does not load.

## Issue Type (Can be multiple)
[x] Behaviour - Functions aren’t working as expected (Such as generate URL)

## Steps to reproduce
Run the following code

`const imgUrl = cloudinary.url('uservitals/Cloudinary_Image_bv1w54.png', { overlay: { url: 'http

[2021-08-20 11:19] dannyv-cloudinary commented on #512
Hi Tharshan.

I've tried running that line on my own cloud, but replacing `uservitals/Cloudinary_Image_bv1w54.png` with the sample image, `sample`. The resulting URL works as expected: https://res.cloudinary.com/dannyv/image/upload/l_fetch:aHR0cHM6Ly9pay5pbWFnZWtpdC5pby9udXhqeGFlaWVlcS9TYW5kYm94X0xvZ29fXzNfX3U5REdNSnl3YS5wbmc/sample

Could you please share the URL that `cloudinary.url` returns for

[2021-08-20 14:47] viperfx commented on #512
@dannyv-cloudinary here is the full URL I see on my side output from the library.

`http://res.cloudinary.com/dt2t3yhwi/image/upload/l_fetch:aHR0cHM6Ly9pay5pbWFnZWtpdC5pby9udXhqeGFlaWVlcS9TYW5kYm94X0xvZ29fXzNfX3U5REdNSnl3YS5wbmc/v1/uservitals/Cloudinary_Image_bv1w54.png`

[2021-08-20 19:28] taragano commented on #512
@viperfx - Taking a look at your account's Security Settings, I see that the usage of Fetched URL is restricted.
If you would remove this restriction, fetching will become allowed for your account.
Allowing fetch is done by going to the Security settings page (https://cloudinary.com/console/settings/security), unchecking `Fetched URL` then "save".
Please let us know if this helps?

[2021-08-21 00:40] viperfx commented on #512
Yes that fixed it - thank you!

[2021-08-21 00:40] #512 closed

[2021-09-26 00:10] SiddheshDabholkar opened #517 "Image upload works fine in local environment, but gives 401 error in production"
## Issue Type
[ &#x2714; ] Behaviour - uploading image gives unknown api key error in production
## Error screenshots
![error](https://user-images.githubusercontent.com/69386085/134788911-db9aa43a-7c56-4094-9437-85bb32809c5f.png)
![second](https://user-images.githubusercontent.com/69386085/134796564-28c68501-4315-4c48-b394-53f8b1175fde.png)

## Versions and Libraries (fill in the version numbers)

[2021-09-26 07:56] roeeba commented on #517
Hi @SiddheshDabholkar, can you please share your cloud name so I can further investigate it?
Also, please share the below values located in your `graphql/uploadImage.js`:

[code]

Thanks!

[2021-09-26 12:44] SiddheshDabholkar commented on #517
cloud_name:"drntday51",
api_key:"317461216434663",

[2021-09-28 00:21] d-mendoza commented on #517
Can you try something like this in a node shell and let us know if there is an error?

[code]

I was able to upload successful, so something in the application must be off. Is there anyway to cycle through values defined in dotenv?

[2021-09-28 03:06] SiddheshDabholkar commented on #517
@d-mendoza it's working fine in local,but giving error in production

[2021-09-28 14:51] SiddheshDabholkar commented on #517
was your application hosted? I am not facing above error in local !

[2021-09-28 16:21] d-mendoza commented on #517
Hi,

This is probably a ticket that is better suited for our internal support here https://support.cloudinary.com/hc/en-us/requests/new and not necessarily related to the SDK. Can you open a ticket and reference this issue so we can continue and provide specifics of your account.

[2021-09-29 05:48] SiddheshDabholkar commented on #517
filled the form. Thanks for your response

[2021-09-29 06:29] SiddheshDabholkar commented on #517
Seems like the error is with env variables .Images were uploading properly when i hard coded the cloud_name,api_key and api_secret. Thanks for the replies @d-mendoza @roeeba .

[2021-09-29 06:29] #517 closed

[2021-10-04 08:57] harsh-the-innovator commented on #177
I still have this issue of ENAMETOOLONG

[2021-10-04 09:09] patrick-tolosa commented on #177
Can you please share the base64 string? (Preferably as an attachment).
As an aside, Is there a reason you prefer to upload the image as a Base64 instead of a regular upload?

[2021-10-04 09:12] harsh-the-innovator commented on #177
"iVBORw0KGgoAAAANSUhEUgAAA4oAAAKFCAYAAACKrBeZAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAhdEVYdENyZWF0aW9uIFRpbWUAMjAyMDoxMToyOCAxODo0NDoxOYtdHcgAAP94SURBVHhe7P0HtGTZdZ4J7ogXPuJ5771N711leQsUTIEgSJGQCIrSkkRpxLU03T1rRqQoqNWSKFGaIVtkiy01CYgEQQKEJQFUoUyWyUrvM1/6fN577yLixexv34xEFQjQgmoU6vzFYMS7ce+5x0XifHfvs7cvoxInJycnJycnJycnJycnp/vy3393cnJycnJycnJycnJycjI5UHRycnJycnJycnJycnJ

[2021-10-04 09:29] patrick-tolosa commented on #177
Please make sure you add `data:image/jpeg;base64,` to the beginning - I've just tried uploading your file and it works..

[code]

[2021-10-04 09:34] harsh-the-innovator commented on #177
Yes it works. Thanks a lot.

[2021-11-20 09:49] romain130492 commented on #177
what kind of thread is this... add the base64 as an attachment?.....

[2021-11-21 17:39] patrick-tolosa commented on #177
@romain130492 it's a thread discussing how to upload a file as a string encoded in Base64.
You can read more about it here:
https://cloudinary.com/documentation/image_upload_api_reference#upload

[2021-11-23 19:19] chrisnore94 commented on #286
Greetings!

Could you tell me, if you remember, how did you get solved this issue? I'm facing the same issue, but trying to integrate "cloudinary" library in an Ionic React Project.

If you can answer me that question, I'd appreciate you!

[2021-11-23 19:49] ekediala commented on #286
Oh. Sorry. I can't even remember the project this happened on. Haven't written Vue since 2019.

[2021-11-23 19:51] chrisnore94 commented on #286
Oh! :( Ok! Thanks anyway! Greetings!

[2021-11-25 22:51] patrick-tolosa commented on #286
@chrisnore94 if you can open a new issue and describe what you're experiencing we'll be happy to help.

Please include as much information as possible (Your build process, configuration if possible), a reproducible repo is ideal.
Note that this issue is a bit misleading, it's not about using `Node SDK` with `Vue` - Vue is a client side framework while the NodeSDK is server side oriented and the co

[2021-11-29 01:17] jimmiejackson414 opened #520 "Resources endpoint occasionally returns a 302?"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I have a NextJS API endpoint where I am fetching images uploaded to Cloudinary all stored in a single folder. Approximately 25% of the time, the call fails with a 302 for some reason.

## Issue Type (Can be multiple)
[ ] Build - Can’t ins

[2021-11-29 16:22] igy commented on #520
Hi Jimmie,

Are you able to see the details of the HTTP request and response for the API call? Renaming assets shouldn't affect that API call (or, as far as I know, any other API calls), but it does seems like your code is receiving an HTTP 3xx response when making a request to the API

What URL was in the Location header of the response? Can you see that?
Is it possible there's something else bet

[2021-11-29 17:42] jimmiejackson414 commented on #520
HI Stephen, thanks for the response!

There shouldn't be anything between this NextJS API call and the Cloudinary endpoint in the way of proxies or firewalls. If I dig a little more into the error object being returned, I see this in the headers object:
[code]
and if I look at the ctx.req headers, I see this:
[code]
I'm not seeing anything related to a Location header. This could be entirely my la

[2021-11-29 18:25] igy commented on #520
Hi Jimmie,

I think a support ticket may be helpful so that you can share the actual cloud name and prefix values used on your API calls to help us find corresponding logs on our side.

Based on the exception in the first message (the one with the "Server returned unexpected status code - 302" text), I was hoping you could see more info about the request and response that triggered that error - I

[2021-11-29 18:39] jimmiejackson414 commented on #520
You're right, those are definitely just req/res logs between my frontend and api. Honestly I'm not quite sure how I'd log the response between my api and Cloudinary. I'll go ahead and get a support ticket opened up though! Should I post to the Support Forum, or create a new ticket via https://support.cloudinary.com/hc/en-us/requests/new?

[2021-11-29 19:39] igy commented on #520
The forum is publicly visible so I think it's not suitable for sharing account-specific info; the form creates a ticket for our team and you'll receive responses both there on the support site, and via email, so that's what I'd recommend

[2021-11-29 19:39] jimmiejackson414 commented on #520
Perfect! I'll go ahead and close this issue then. Thanks for your help!

[2021-11-29 19:39] #520 closed

[2022-01-02 18:06] feiwu77777 opened #524 "Cannot import cloudinary in nodejs with "navigator undefined""
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I can not import cloudinary in my nodeJS backend after I installed it with npm.

Below is the full log for the error.

[code]
## Issue Type (Can be multiple)
[ x] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross b

[2022-01-02 19:25] zivlevy commented on #524
same here. tried previous release with same outcome

[2022-01-02 20:21] zivlevy commented on #524
a quick fix:
comment out the line at /Users/feiwu/projects/inventaire/backend/node_modules/cloudinary-core/cloudinary-core.js:1168

and ... everything works again

[2022-01-02 21:05] feiwu77777 commented on #524
It worked for me thank you!

[2022-01-02 21:36] sinnrrr commented on #524
+1, I have no wish to modify my node_modules

[2022-01-03 08:16] alexchao commented on #524
Seeing this in our app as well. Assume it's related to this? https://github.com/cloudinary/cloudinary_js/pull/281

[2022-01-03 08:48] roeeba commented on #524
A fix has been merged and a new version was released. Please let us know if you still see any issues.

[2022-01-03 08:48] #524 closed

[2022-01-03 15:17] zivlevy commented on #524
works fine now. Thanks for you prompt response, I am impressed 👍

[2022-01-15 19:13] dozykeys commented on #168
This helped me right now

[2022-01-17 23:53] jj0b commented on #491
@tobslob where did you put that to solve this?

[2022-01-18 09:57] patrick-tolosa commented on #491
Hey all, I see there's some confusion here.
Config is defined on the `v2` object

[code]

[2022-01-18 16:55] patrick-tolosa commented on #491
@jj0b I'm more than happy to reopen this if needed,
I'd like to share this sample project that worked for me, I have a feeling this boils down to some form of configuration (either in TS or package.json)

https://github.com/patrick-tolosa/sample-cloudinary-node-ts

If you're still having issues, can you please provide a minimal reproducible project where I could take a look?

[2022-01-18 17:24] jj0b commented on #491
@patrick-tolosa thanks for getting back to me. :)

So it seems it must be some form of configuration issue as when I make a brand new simple `node.js` app and add `cloudinary` I have no problem setting the `config`.

I guess I'll see if knowing that helps me discover what's different in the project I'm working on.

[2022-01-18 17:54] patrick-tolosa commented on #491
If you can share your package json (feel free to remove scripts/dependencies) and your tsconfig I can take a look and see if something pops out.

[2022-01-18 18:02] jj0b commented on #491
@patrick-tolosa

`package.json` and `tsconfig.json`. By the way, I used that tsconfig.json in the simple sample project that had no problem with `cloudinary.config()`.

[code]

[code]

[2022-01-19 10:02] patrick-tolosa commented on #491
Hey @jj0b

I'm afraid I tried using your configuration and everything works.
(I added the TS Config to the sample project locally, and everything works)

I even changed your `noEmit` to true, and then used Node itself to run the generated `.js` file - still works.

If you can provide a sample project I'd like to take a deeper look, this behaviour is a bit odd.

I'm beginning to think it's not just

[2022-01-19 19:03] jj0b commented on #491
Thanks for all your help @patrick-tolosa. We figured out the issue. I had the directory that my code that was importing Cloudinary into named `cloudinary`. Once I changed the name of that directory, everything worked perfectly.

[2022-01-20 09:36] patrick-tolosa commented on #491
Glad you got it sorted out!

[2022-01-25 12:58] Sumair-Aslam opened #527 "Must supply api_key"
I am working on a project in which we are using Cloudinary to upload images. I am writing the test cases for my project and I ran into this problem.
Index.ts fle:

await cloudinary.config({
      cloud_name: process.env.CLOUDINARY_CLOUD_NAME /*'scytalelabs'*/,
      api_key: process.env.CLOUDINARY_API_KEY /*'432183885194623'*/,
![150980798-bc5e7dfb-8f43-433f-a02c-4104bb5dc3d4](https://user-images.

[2022-01-26 00:48] momoip commented on #527
Hi Sumair-Aslam,

Would you comment out other code; but in the beginning use the following and see if you can the same error :

var cloudinary = require('cloudinary').v2;

cloudinary.config({
   cloud_name: '<YOUR_CLOUD_NAME>',
   api_key: '<YOUR_API_KEY>',
   api_secret: '<YOUR_API_SECRET>',
   secure: true
});

You can refer to our configuration documentation: https://cloudinary.com/documentatio

[2022-01-26 05:40] Sumair-Aslam commented on #527
Hi momoip,

First of all thanks a lot.
I have tried your solution but I am still getting the same error!!!

[2022-01-26 07:15] epasos573 commented on #527
Hi Sumai-Aslam,

In general, you need to put the `.env` file where you launch the `node` and it is possible to reconfigure NodeJS to recognize a different environment variable location, although it is better to put the environment variables in the project root.

To isolate the issue, can you help to initialize a local variable inside the `index.ts` post API and check if you are able to use Cloudin

[2022-01-29 22:38] tad0xe commented on #527
i see you using dotenv hope you imported it in index.ts had the same issue  with javascript today and that was how i solved mine

[2022-02-01 08:36] Sumair-Aslam commented on #527
Thanks, a lot the issue is resolved. It seems the error was because of multiple env files. Writing the cloudinary.config({....});
in the file where it is throwing error resolves it.

[2022-02-01 09:44] #527 closed

[2022-02-06 01:00] TioElvis opened #531 "I don't know why it gives me this error"
I'm new to this, and I don't understand some things, but according to me this error is very strange, I'm using fastify-ts, multer and cloudinary, I want to tell result that the file path is the file to upload, but it doesn't tell me let

This is the code where I do the request:

fastify.post<{
    Body: CreatePublicationBody;
    Params: CreatePublicationParams;
  }>(
    "/create/:userId",
    {

[2022-02-06 09:40] roeeba commented on #531
Hey @TioElvis, Your upload method seems to be missing the callback function as the second parameter. It should be something like:

[code]

[2022-02-06 09:47] TioElvis commented on #531
Hello, thanks for answering, I'm trying to do something like that, but now I get this error

![Immagine 2022-02-06 104711](https://user-images.githubusercontent.com/92209528/152675450-600ac3b4-0098-4854-b9c1-36f1edb1b0e6.png)

Any advice ?

[2022-02-06 09:55] TioElvis commented on #531
I already solved it hahaha

import { FastifyPluginAsync } from "fastify";
import multer from "fastify-multer";
import { v2 } from "cloudinary";

 fastify.post<{
    Body: CreatePublicationBody;
    Params: CreatePublicationParams;
  }>(
    "/create/:userId",
    {
      preHandler: upload,
    },
    async (request, reply) => {
      const { description } = request?.body;
      const { userId } =

[2022-02-06 09:58] roeeba commented on #531
@TioElvis Thanks for the update! good to hear 🙂

[2022-02-06 09:58] #531 closed

[2022-02-10 11:19] CodeIntelli opened #532 "Config is not available in Cloudinary so how can i configure it"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two
![image](https://user-images.githubusercontent.com/68110141/153396645-f75ca064-6272-4897-ad2d-774f94a765a8.png)

Clodinary Version
![image](https://user-images.githubusercontent.com/68110141/153396753-9e1d9861-5c6b-416f-9766-85c5c4e5cfb5.p

[2022-02-10 12:57] patrick-tolosa commented on #532
Hey @CodeIntelli , I'm missing your import statement in this snippet, but please take a look at this issue and see if it helps you out.

https://github.com/cloudinary/cloudinary_npm/issues/491

[2022-02-16 07:54] CodeIntelli commented on #532
I have solved the issue just because cloudinary dosent have ts file and in .ts file we have to just put

//@ts-ignore

before config function and then i got the solution

[2022-02-16 12:35] patrick-tolosa commented on #532
@CodeIntelli I'm glad you got it working, but that doesn't sound like an accurate solution.
This library does provide type definitions, and the config is included in them.

I'm closing this issue as it's solved in #491 but if you think your case is different please open a new issue with an example

[2022-02-16 12:35] #532 closed

[2022-02-23 18:07] panaman67 opened #534 "Node 16 support?"
## Explain your use case
Node 16 is current LTS release and is used commonly. Supporting it would be helpful.

## Describe the problem you’re trying to solve
Using the cloudinary sdk with a Node 16 Vue 3 project

[2022-02-24 11:53] michalkcloudinay commented on #534
Hi @panaman67, We are further checking this on our end, and will provide updates on the thread.

[2022-02-25 17:55] panaman67 commented on #534
Thank you. Looking forward to it.

[2022-03-01 14:44] patrick-tolosa commented on #534
@panaman67 We've updated this project (The Cloudinary Node SDK) to support tests for Node 16, this was supported out of the box and no changes were needed.

See #535

[2022-03-01 14:44] #534 closed

[2022-03-03 21:59] panaman67 commented on #534
Will the readme get updated with 16 support?

[2022-03-04 11:59] patrick-tolosa commented on #534
@panaman67 thanks for the heads up :) It's now updated

[2022-03-06 23:25] Dmeowmixer opened #536 "Documentation link in cloudinary_npm repo redirects to 404 page."
## Bug report for Cloudinary NPM SDK

## Describe the bug in a sentence or two.
Documentation here: https://github.com/cloudinary/cloudinary_npm#note
 (https://cloudinary.com/documentation/node_integrations ) redirects to a 404 page

## Issue Type (Can be multiple)
[x] Documentation - Inconsistency between the docs and behaviour

## Steps to reproduce
Visit URL here: https://github.com/cloudinary/

[2022-03-07 10:05] patrick-tolosa commented on #536
PR merged and this is now fixed.

[2022-03-07 10:05] #536 closed

[2022-03-11 23:54] zoeytruong opened #538 "TypeScript Type: incorrect type on `ResourceAPIResponse` returned from `resouces_by_tag`"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
I am using the function `resources_by_tag`, which has a return type of `Promise<ResourceAPIResponse>`. However, the actual response from `resouces_by_tag` has a different type then the defined `ResourceAPIResponse`. My function `getResour

[2022-03-13 13:59] michalkcloudinay commented on #538
Hi @zoeytruong,
The resources_by_tag method should return:  { resources: object [{}] }.
Please consider this code:

[code]
Please let me know if this works for you,
Thanks!

[2022-03-14 19:50] zoeytruong commented on #538
Gotcha. I have another question. Is the `resources` property in `ResourceApiResponse` an array of those nested object or a tuple?
[code]

[2022-03-16 11:46] michalkcloudinay commented on #538
Hi @zoeytruong,

The `resources` would look like this:

[code]
Let us know if you have any further questions.

[2022-03-21 17:46] CodeMan99 opened #539 "Typescript: Incorrect usage of Union Typing (mostly options)"
## Describe the bug in a sentence or two.

Many options type arguments are using [union](https://www.typescriptlang.org/docs/handbook/2/everyday-types.html#union-types) when the intention is an [intersection](https://www.typescriptlang.org/docs/handbook/2/objects.html#intersection-types).

## Issue Type (Can be multiple)
* [ ] Build - Can’t install or import the SDK
* [ ] Babel - Babel errors or c

[2022-03-22 10:32] aleksandar-cloudinary commented on #539
Hi @CodeMan99 - thanks for reporting this!
As I understand, this is not causing you any compilation errors currently?
I will create a ticket internally for our SDK team so we can look into this.
That said, due to a number of higher priority tickets this may not be addressed right away. If you do want to submit a PR then that would also be welcome but if not, our team will look into it.

[2022-03-22 19:07] CodeMan99 commented on #539
Correct. This is not a show stopper.

Just would be a very nice to have for better type support.

[2022-03-22 19:31] aleksandar-cloudinary commented on #539
No worries @CodeMan99 - we will update this thread when there are updates on our side.

[2022-03-24 16:21] singhmp2k opened #542 "react native android build : Could not find com.linkedin.android.litr:litr:1.1.0."
react native android build throws error : --

[code]

[2022-03-24 19:39] #538 closed

[2022-03-24 19:43] zoeytruong opened #543 "TypeScript Type: api.tags parameter order"
## Bug report for Cloudinary NPM SDK
version: "^1.28.1"

## Describe the bug in a sentence or two.

- In the node SDK doc for `Get Tags`,[ it shows that I can pass in an object for options](https://cloudinary.com/documentation/admin_api#:~:text=List%20tags%20that%20start%20with%20%27pro%27%20for%20all%20images%3A). The doc shows passing in the options obj as the first param, then the callback func

[2022-03-26 08:58] aleksandar-cloudinary commented on #543
Hi @zoeytruong - thanks for raising this and for opening a pull request. I've tagged one of my colleagues there who can help to review.

[2022-03-27 14:57] patrick-tolosa commented on #543
Thanks for the PR @zoeytruong

It'll be released in the next version (Probably next week)

[2022-04-06 23:50] zoeytruong commented on #543
@patrick-tolosa can you update the package-json version to reflect the merged PR for this? Thanks.

[2022-04-09 18:27] mugishap opened #547 "Error: { message: 'Request Timeout', http_code: 499, name: 'TimeoutError' }"
So, the problem is that I encountered a problem while uploading videos. As you know videos are somehow large so I would like to ask if there was a way that a person change when the timeout error can pop up because videos (eg: a song) can be up to 200 mb and 200mb can't be uploaded just in one minute. Maybe if there is a way you can help I'm looking forward to your help. Thanks.
![image](https://us

[2022-04-09 18:31] aleksandar-cloudinary commented on #547
Hi @mugishap - Could you please share the code you are using to upload? Large files (100MB and over) need to be sent in chunks/parts and for that, we have the `upload_large` method. Are you currently using this? https://cloudinary.com/documentation/node_image_and_video_upload#node_js_video_upload
If not, please use this method and you can optionally pass a `chunk_size` parameter to that method set

[2022-04-10 17:44] mugishap commented on #547
That documentation does it thank you very much

[2022-04-10 17:44] #547 closed

[2022-04-10 17:45] mugishap commented on #547
Thank you very much for your reply. I just got the answer in
the documentation you gave me.

On Sat, 9 Apr 2022 at 20:32, Aleksandar Kostadinov ***@***.***>
wrote:

[2022-04-17 07:27] strausr commented on #543
@zoeytruong Please see the latest release:)

[2022-04-17 07:27] #543 closed

[2022-05-14 11:11] msrumon commented on #539
I was about to create a new issue, then I found this thread and thought: well, mine is kinda relevant to this one, so let's do it here. According to the doc, the [`upload`](https://cloudinary.com/documentation/image_upload_api_reference#upload_required_parameters) function accepts both file name (as `string`) and file stream (as `Buffer`). However, the types only say `string` at lines [1031](https

[2022-05-15 00:07] aleksandar-cloudinary commented on #539
Hi @CodeMan99 - An update on the original query - after speaking with our team they advised that because we're using `[futureKey: string]: any;` which allows us in a way to future proof the types in case of changes going forward. This is also the reason why you're not seeing any type errors currently. That said, if this changes in future we will be sure to update this thread.

Hi @msrumon - Thanks

[2022-05-16 10:14] msrumon commented on #539
Yes, I ended up using `upload_stream` method.

[code]

However, I'll play around with the `upload` method and see if I can somehow utilize it.

[2022-05-16 10:36] aleksandar-cloudinary commented on #539
Sounds good @msrumon - let us know how it goes. If you convert the Buffer to a Typedarray then upload() should be able to accept that. Otherwise, if you don't have the file stored locally on the filesystem and you're only getting a stream then upload_stream() is the way to go.

[2022-05-24 14:22] akarmes opened #550 "Used lodash version has security issues."
## Bug report for Cloudinary NPM SDK

Before proceeding, please update to latest version and test if the issue persists ☑️

## Describe the bug in a sentence or two.

We're using "yarn audit" as a part of CI in our projects to scan NPM packages for vulnerabilities. For the latest version of cloudinray (1.30.0) it's reporting a high and a moderate alerts for "lodash", which is cloudinary's dependen

[2022-05-26 11:53] roniceyemeli opened #552 "modules import using ESM"
### **I'm currently working on a  nodejs, expressjs project, when I'm using COMMONJS everything is working fine.but with ECMAScript around I am receiving an empty 500 error from postman to be honest I found nothing that help resolve this issue. here's my code is CJS and ESM respectively**

[code]
[code]

[2022-05-28 18:05] TarunBhan opened #553 "Eager Function is Not Working with API call from NextJs"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

****cloudinary.uploader.upload('https://res.cloudinary.com/demo/image/upload/couple.jpg',
    {
       eager: [
        { width: 1000, height: 1000, crop: "pad" },
        { width: 260, height: 200, crop: "crop", gravity: "north"} ]
    },
    function (err, image) {
      if (er

[2022-05-29 06:45] patrick-tolosa commented on #553
Hey @TarunBhan  - it looks like you're looking for Incoming transformations, and not eager.

- `Eager` will generate the various derived assets immediately, but it will store the original as is
- `Incoming` will store the uploaded file already transformed.

You can read more about it here:

https://cloudinary.com/documentation/transformations_on_upload#incoming_transformations

[2022-05-29 07:48] patrick-tolosa commented on #552
@roniceyemeli

What errors are you getting?
500 error means your server returns the 500 response, but what exceptions/errors does node throw?

[2022-05-29 10:40] patrick-tolosa commented on #550
Thanks for the report, this will be released in the next release.

[2022-05-29 14:19] roniceyemeli commented on #552
![Screenshot from 2022-05-29 15-16-34](https://user-images.githubusercontent.com/81180104/170873807-7749f173-d0b1-4f69-a8ad-548c6c9e2c47.png)

and there's no exceptions/errors in my terminal, the server still running well

[2022-05-29 14:24] patrick-tolosa commented on #552
I'd start by removing the try catch to prevent node from swallowing the exception.

Perhaps you can also place some console.logs within your code to identify where the issue is?
alternatively you can try simplifying the example, remove all pieces of code that aren't being tested directly until you find what causes the issue.

For example, does removing all Cloudinary code result in working code? (

[2022-05-29 15:45] roniceyemeli commented on #552
hello patrick thanks for the tip, i think my problem is related to the CLOUINDARY env file, I'm getting undefined while doing this, seem like my env file doesn't load
[code]

[2022-05-29 16:00] patrick-tolosa commented on #552
Great!

It looks like your environment variables aren't being set-up properly.
how are you setting your environment variables?

There are several approaches:
- Use a `.env` file, and use the library `dotenv` to auto-load the `.env` file (Are you doing this?)
- Use a variable in your startup script: `FOO=BAR node index.js` -> will result in `process.env.FOO === 'BAR'`
- Define it in your machine as

[2022-05-29 16:08] roniceyemeli commented on #552
absolutely wasn't a cloudinary problem, just fixed it by passing  this code within the post controller. it's a good practice?
[code]

[2022-05-29 16:16] patrick-tolosa commented on #552
Great it's solved!

Ideally the Cloudinary library should be set up only once, probably best if it's configured in it's own file, and them imported into your controller to be used.

This is my personal preference of course:

[code]

For small projects you can put it anywhere it makes sense to you.
I'd still be curious as to why you ran into this problem though :)

[2022-05-29 16:16] #552 closed

[2022-06-03 14:29] promiselxg commented on #320
@aleksandar-cloudinary thanks.

[2022-06-22 05:20] ShoryuKyzan opened #554 "Upload Widget - Layout broken for 768px wide"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
Layout broken between 768 and 767 px. Broken for many tablet users most likely.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance is

[2022-06-22 14:37] cloudy408 commented on #554
Hi Joseph,

Thanks for pointing out this issue, we were able to reproduce it.

The issue seems to be with the upload_widget, not the cloudinary_npm SDK. We have opened this as a bug for the upload_widget that is currently being prioritized for a fix.

Hope this helps, please let me know if you have any further questions.

Best regards,
John

[2022-06-22 17:39] ShoryuKyzan commented on #554
I'd like to subscribe to updates on that issue so I know when it's fixed. Tag me if its public? I cant seem to find that repo here.

[2022-06-23 06:55] aleksandar-cloudinary commented on #554
Hi @ShoryuKyzan - Thanks for following up about it. This GitHub thread is linked in our internal ticket and when there are updates to our internal ticket, we will be updating this thread as well so that it's all updated/in-sync.

[2022-07-21 08:02] akarmes commented on #550
@patrick-tolosa Can you give any estimate as to when this fix will be released?

[2022-07-21 10:09] tamaracloudinary commented on #550
@akarmes We'll release a new version by Sunday, will update soon if it happens today

[2022-07-21 10:41] tamaracloudinary commented on #550
@akarmes The Cloudinary Node SDK has been updated to version 1.30.1 with this bug fix now.

[2022-07-21 11:13] akarmes commented on #550
Thank you a lot!

[2022-07-21 11:13] #550 closed

[2022-08-09 17:21] mpimentel-xealth opened #556 "Property 'download_backedup_asset' does not exist on type 'typeof utils'"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists
✓

## Describe the bug in a sentence or two.
Typescript: `Property 'download_backedup_asset' does not exist on type 'typeof utils'`

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Perfo

[2022-08-09 21:40] skalahasti-cloudinary commented on #556
Hi @mpimentel-xealth,

Thanks for reporting this issue.
We have created an internal ticket to work on this. I will keep you posted as soon as the issue is fixed.

Best Regards,
Sree

[2022-08-16 23:02] usamamashkoor commented on #84
Does the `fileuploadprogress ` event is supported in react?

[2022-08-19 10:48] dannyv-cloudinary commented on #84
Hi @usamamashkoor .

I'm afraid it's not supported directly within React at this time however, taragano's code snippet above may be a helpful workaround.

Many thanks,
-Danny

[2022-08-30 17:00] skalahasti-cloudinary commented on #556
Hi @mpimentel-xealth ,

This issue was fixed. Please confirm if it is working fine at your end now.

Best Regards,
Sree

[2022-09-01 00:34] mpimentel-xealth commented on #556
Verified fixed on 1.31.0

Thank you!

[2022-09-01 00:34] #556 closed

[2022-09-12 21:39] rachel-adelle opened #561 "Upload Widget - Linking to .aspx files in Web Address results in timeout"
## Bug report for Cloudinary NPM SDK

## Description
Linking to .aspx files under Web Address in the sample Upload Widget on your website results in a timeout.

## Issue Type
[ x ] Performance
[ x ] Behaviour

## Steps to reproduce
Go to your sample Upload Widget on your website here: https://cloudinary.com/documentation/upload_widget
Paste this link under Web Address: https://www.newsmax.com/CMSP

[2022-09-13 23:47] skalahasti-cloudinary commented on #561
Hi @rachel-adelle ,

Thanks for reporting the issue. We are currently looking into it.

I will keep you posted with updates.

Best Regards,
Sree

[2022-09-14 21:07] rachel-adelle commented on #561
Yes thank you, it's request #201108.

[2022-09-15 21:54] rachel-adelle commented on #561
Closing this issue, as it seems to be happening due to being blocked by the website as a security measure.

[2022-09-15 21:54] #561 closed

[2022-09-27 07:39] jakecarillon opened #562 "."
duplicated

[2022-09-27 07:40] thilllon opened #563 "suggest improving vague types"
Feature request for Cloudinary_NPM SDK
…(If your feature is for other SDKs, please request them there)

## Explain your use case
… (A high-level explanation of why you need this feature)

As a typescript user, i am appreciated that cloudinary provides typescript library so i can save time to checking which values can be used. However, in some APIs, I need to check official docs because there are `

[2022-09-27 07:42] #562 closed

[2022-09-29 19:08] jackiecatania commented on #563
@thilllon we'll be happy to review, can you please make a PR?

[2022-10-07 15:35] MohammedOmar123 opened #564 "Use Formatter tool to make the code more readable"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
…

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Babel - Babel errors or cross browser issues
[ ] Performance - Performance issues
[ ] Behaviour - Functions aren’t working as expected (Such as generate UR

[2022-10-08 14:33] dannyv-cloudinary commented on #564
Hi @MohammedOmar123 .

It seems this bug report has been posted with the default template, so I'm closing it off for now. Please feel free to reopen this is with additional details if required, or submit a new bug report.

Many thanks,
-Danny

[2022-10-08 14:33] #564 closed

[2022-10-12 13:28] mHubbell opened #565 "Security violation in `proxy-agent` dependency"
## Bug report for Cloudinary NPM SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
snyk reports a "critical severity" security issue though `proxy-agent@5.0.0 › pac-proxy-agent@5.0.0 › pac-resolver@5.0.0 › degenerator@3.0.2 › vm2@3.9.9` "[vm2](https://github.com/patriksimek/vm2#readme) is a sandbox that can run untruste

[2022-10-17 14:27] igy commented on #565
Hi,
Thanks for reporting this - I've checked with the maintainers of this SDK and we'll be updating the SDK soon to update the dependencies; we'll let you know here once the fix has been merged and a new release made

[2022-10-25 04:58] saleemsultani commented on #235
hello I am new to react. I got this error
Uncaught SyntaxError: Unexpected token '<' (at index.js:4:17)
bellow is my code

//index.html

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>JSX</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="root"></div>
    <script src="../src/index.js" type="text/javascript"></script>
  </body>
</html>

//index.js
const Re

[2022-10-25 18:08] atdcloud commented on #235
Hi @saleemsultani,
Can you please share your codesandbox URL?

[2022-10-26 06:20] saleemsultani commented on #235
@atdcloud hey
https://codesandbox.io/s/introduction-to-jsx-forked-89boi3?file=/public/index.html

[2022-10-27 06:31] saleemsultani commented on #235
@michalkcloudinay  thank you
the problem was here in script tag
<script src="../src/index.js" type="text/javascript"></script>
i changed type value to "text/JSX" and it worked

[2022-10-27 08:26] michalkcloudinay commented on #235
Thanks for the update @saleemsultani, glad the issue is resolved.
Let us know if you have any further questions.

[2022-10-28 15:42] igy commented on #565
Hi,
We're working on a release to the SDK to update the dependencies which should be ready in a few days' time.

In the meantime, you may find that if you refresh all your project's dependencies via npm, some of the dependencies of our SDK will be implicitly updated to newer, non-affected versions

-Stephen

[2022-11-02 16:54] quangnmwork opened #568 "TypeError: Cannot read properties of undefined (reading 'upload')"
I'm trying to upload image with Nodejs+ typescript .
I have do like the tutorial . Here is my config .

utils/cloudinary.ts

[code]

In userController.ts

[code]
After the function upload of cloudinary run . I got the error like this :
[code]
I really don't understand this error. Please help

[2022-11-02 22:07] rnamba-cloudinary commented on #568
Hey Quang,

Please open a support ticket with us support@cloudinary.com. Also, please refrain from posting your api credentials on a public board for security reasons.

[2022-11-03 13:52] quangnmwork commented on #568
Sorry . I forgot to delete it .

[2022-11-05 03:27] rnamba-cloudinary commented on #568
No problem, did you send in a request to our support team? We may need to ask for more information on this one, so it would be best if we did it in a direct line of communication!

[2022-11-06 13:47] quangnmwork commented on #568
Sure , I think I will send request to cloudinary support as soon as I can . But now I have to use another one instead .

[2022-11-06 13:47] #568 closed

[2022-11-26 23:02] asyncfinkd opened #570 "Cloudinary return this message when i'm trying to upload image. "Must supply api_key""
## Describe the bug in a sentence or two.
so when i'm trying to upload image in cloudinary image library. server return text like this: "Must supply api_key", also i'm using nestjs.

let's take a look my environments and small code what i'm using (specially i'm using 'xxx' for hide my cloudinary secret keys).

[code]

this is code part for upload image function.

[code]

Thanks, for interesting.

[2022-11-27 09:22] tamaracloudinary commented on #570
Hi there,

Thanks for getting in touch. May I please ask for some more information?
Can you please confirm the cloud name of the account you're using?

The 'must supply api_key' error implies that we're not receiving the correct cloud name and API key in the API call made by your app.

Are you sure that the exact values are being set correctly and that the correct values are being used by the SDK?